<a href="https://colab.research.google.com/github/FNSY96/TerrorismEventsPrediction/blob/master/Graduation.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **Python Imports**
PLEASE PUT ALL LIBRARY IMPORTS IN THIS CELL **ONLY**

In [1]:
import pandas as pd
import csv
import glob
import os
from pandas import ExcelWriter
from pandas import ExcelFile
import io
print("imports run")

imports run

In [2]:
!pip3 install pandas

Requirement already satisfied: pandas in /usr/local/lib/python3.6/dist-packages (0.22.0)
Requirement already satisfied: python-dateutil>=2 in /usr/local/lib/python3.6/dist-packages (from pandas) (2.5.3)
Requirement already satisfied: numpy>=1.9.0 in /usr/local/lib/python3.6/dist-packages (from pandas) (1.14.6)
Requirement already satisfied: pytz>=2011k in /usr/local/lib/python3.6/dist-packages (from pandas) (2018.9)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.6/dist-packages (from python-dateutil>=2->pandas) (1.11.0)

# Data Set Imports

In [3]:
!pip install -U -q PyDrive
from google.colab import drive
from pydrive.auth import GoogleAuth
from pydrive.drive import GoogleDrive
from google.colab import auth
from oauth2client.client import GoogleCredentials
auth.authenticate_user()
gauth = GoogleAuth()
gauth.credentials = GoogleCredentials.get_application_default()

    100% |████████████████████████████████| 993kB 751kB/s
  Building wheel for PyDrive (setup.py) ... done

In [4]:
# drive = GoogleDrive(gauth)
drive.mount("/content/drive", force_remount=True)
datadir  = 'drive/My Drive/GraduationProject/Data'

Go to this URL in a browser: https://accounts.google.com/o/oauth2/auth?client_id=947318989803-6bn6qk8qdgf4n4g3pfee6491hc0brc4i.apps.googleusercontent.com&redirect_uri=urn%3Aietf%3Awg%3Aoauth%3A2.0%3Aoob&scope=email%20https%3A%2F%2Fwww.googleapis.com%2Fauth%2Fdocs.test%20https%3A%2F%2Fwww.googleapis.com%2Fauth%2Fdrive%20https%3A%2F%2Fwww.googleapis.com%2Fauth%2Fdrive.photos.readonly%20https%3A%2F%2Fwww.googleapis.com%2Fauth%2Fpeopleapi.readonly&response_type=code

Enter your authorization code:
··········
Mounted at /content/drive

###**GTD**

In [0]:
# !ls drive/'My Drive'/GraduationProject/Data/gtd.csv

# Functions

In [0]:
def remove_NaN(data_set, attributes_NaN):
  data_set = data_set.fillna(data_set.mean())
  for i in range(len(attributes_NaN)):
      attribute = attributes_NaN[i]
      mode =  data_set[attribute].mode()[0]
      data_set[attribute] = data_set.groupby(attribute)[attribute].apply(lambda x: x.fillna(x.value_counts().idxmax() if x.value_counts().max() >=1 else mode , inplace = False))
      data_set[attribute]= data_set[attribute].fillna(data_set[attribute].value_counts().idxmax())
  return data_set

In [0]:
def filter_dataframe(data_set, columns):
  return data_set[columns]

# Pandas Data Frames
Useful link : https://youtu.be/2AFGPdNn4FM

## **GTD Data Frame**

In [7]:
gtd_df = pd.read_csv(os.path.join(datadir, 'gtd.csv'),encoding='latin-1')
# print(gtd_df.columns.values)

/usr/local/lib/python3.6/dist-packages/IPython/core/interactiveshell.py:2718: DtypeWarning: Columns (4,6,31,33,61,62,63,76,79,90,92,94,96,114,115,121) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [0]:
gtd_filtered_df = gtd_df[['country_txt','region_txt','city','latitude', 'longitude', 'target1', 'iyear']]
# print(gtd_filtered_df)
# print(gtd_filtered_df.isna().sum())

### GTD Removed NaN

In [0]:
# DO NOT REMOVE THIS ONE WE COMMENTED IT TEMORARLY
# clean NaN
# gtd_filtered_df = gtd_filtered_df.fillna(gtd_filtered_df.mean())
# attributes_NaN = ['country_txt', 'city', 'target']
# gtd_filtered_df = remove_NaN(gtd_filtered_df, attributes_NaN)
# print(gtd_filtered_df)

## **GECON Data Frame**

In [10]:
gecon_df = pd.read_csv(os.path.join(datadir, 'Gecon40_post_final_kh.csv'),encoding='latin-1')
# print(gecon_df.columns.values)

/usr/local/lib/python3.6/dist-packages/IPython/core/interactiveshell.py:2718: DtypeWarning: Columns (16,19,25,28) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [0]:
gecon_filtered_df = gecon_df[['AREA', 'COUNTRY', 'DIS_LAKE','DIS_MAJOR_RIVER']]

# print(gecon_filtered_df.isna().sum())

# print(gecon_filtered_df)

In [0]:
# clean NaN
# gecon_filtered_df = gecon_filtered_df.fillna(gecon_filtered_df.mean())
gecon_filtered_df = remove_NaN(gecon_filtered_df, [])

# print(gecon_filtered_df.isna().sum())

# print(gecon_filtered_df)

## **GeoEPR Data Frame**

In [0]:
geo_df = pd.read_csv(os.path.join(datadir, 'GeoEPR-2018.1.csv'),encoding='latin-1')
# print(geo_df.columns.values)
# # statename, group
# print(geo_df)

In [0]:
geo_filtered_df = geo_df[['statename','group']]
geo_filtered_df = geo_filtered_df.rename(index=str, columns={"statename": "country_txt"})
# print(geo_filtered_df)
# print(geo_filtered_df.isna().sum())
# print(geo_filtered_df.groupby('country_txt').count())

In [0]:
# clean NaN
# geo_filtered_df = geo_filtered_df.fillna(geo_filtered_df.mean())
#attributes_NaN = ['statename', 'group', 'type']
#geo_filtered_df = remove_NaN(geo_filtered_df, attributes_NaN)

#print(geo_filtered_df)

## **Happiness World Report Data Frame**

In [0]:
happy_df_17 = pd.read_csv(os.path.join(datadir, 'Happiness2017.csv'),encoding='latin-1')
happy_df_16 = pd.read_csv(os.path.join(datadir, 'Happiness2016.csv'),encoding='latin-1')
happy_df_15 = pd.read_csv(os.path.join(datadir, 'Happiness2015.csv'),encoding='latin-1')
# happiness = [happy_df_15, happy_df_16, happy_df_17]
happy_df_17 = happy_df_17.rename(index=str, columns={"Country": "country_txt", "Happiness.Rank": "Happiness.Rank17", "Happiness.Score": "Happiness.Score17"})
happy_df_16 = happy_df_16.rename(index=str, columns={"Country": "country_txt", "Happiness Rank": "Happiness.Rank16", "Happiness Score": "Happiness.Score16"})
happy_df_15 = happy_df_15.rename(index=str, columns={"Country": "country_txt", "Happiness Rank": "Happiness.Rank15", "Happiness Score": "Happiness.Score15"})

In [0]:
happiness_filtered = [happy_df_15[['country_txt','Happiness.Rank15','Happiness.Score15']],
                      happy_df_16[['country_txt','Happiness.Rank16','Happiness.Score16']], 
                      happy_df_17[['country_txt','Happiness.Rank17','Happiness.Score17']]]

In [0]:
# happy_filtered_df = happy_df[['Country','Happiness.Rank','Happiness.Score']]
# attributes_filter = ['Country','Happiness.Rank','Happiness.Score']
# happiness_filtered = [None] * 3

# for i in range(len(happiness)):
#   happiness_filtered[i] = filter_dataframe(happiness[i], attributes_filter)
# print(happy_filtered_df)

In [0]:
# clean NaN
for i in range(len(happiness_filtered)):
  happiness_filtered[i] = remove_NaN(happiness_filtered[i], ['country_txt'])
# happy_filtered_df = happy_filtered_df.rename(index=str, columns={"Country": "country_txt"})
# print(happy_filtered_df.columns.values)

###TRIALS

In [0]:
# d = {'one': pd.Series([1., 3.], index=['a', 'c']), 'two': pd.Series([1., 2., 3., 4.], index=['a', 'b', 'c', 'd']), 'three': pd.Series(["A", "B", "A"], index=['a', 'c', 'd'])}
# df = pd.DataFrame(d)
# print(df)
# # print(df.isna().sum())
# df = df.fillna(df.mean())
# mode =  df['three'].mode()[0]
# df['three'] = df.groupby('three')['three'].apply(lambda x: x.fillna(x.value_counts().idxmax() if x.value_counts().max() >=1 else mode , inplace = False))
# df['three']= df['three'].fillna(df['three'].value_counts().idxmax())
# print(df)

## MERGED DATA

In [106]:
ethnic_count = geo_filtered_df.groupby('country_txt').count()
countries = pd.DataFrame(geo_filtered_df['country_txt'].drop_duplicates().sort_values())
ethnic_count = pd.concat([ethnic_count.reset_index(drop=True),countries.reset_index(drop=True)], axis=1)
ethnic_count = ethnic_count.rename(index=str, columns={"group":"group_count"})
print(ethnic_count.columns.values)

['group_count' 'country_txt']

In [107]:
#result = pd.concat([gtd_filtered_df, happy_filtered_df],gtd_filtered_df["country_txt"]=happy_filtered_df["Country"])
#'Happiness.Rank' 'Happiness.Score'
gtd_merged_happiness = gtd_filtered_df
for i in range(len(happiness_filtered)):
  gtd_merged_happiness = pd.merge(gtd_merged_happiness, happiness_filtered[i],on='country_txt')
gtd_merged_happiness = pd.merge(gtd_merged_happiness, ethnic_count, on='country_txt')
print(gtd_merged_happiness.shape)
# print(gtd_merged_happiness['region_txt'].drop_duplicates())

(167161, 14)

In [108]:
print(gtd_merged_happiness.columns.values)

['country_txt' 'region_txt' 'city' 'latitude' 'longitude' 'target1'
 'iyear' 'Happiness.Rank15' 'Happiness.Score15' 'Happiness.Rank16'
 'Happiness.Score16' 'Happiness.Rank17' 'Happiness.Score17' 'group_count']

In [110]:
# MENA stands for Middle East and North Africa region
mena = gtd_merged_happiness.loc[gtd_merged_happiness['region_txt'] == 'Middle East & North Africa']
print(mena['country_txt'].drop_duplicates())
# ADD SUDAN

16236           Jordan
19871            Egypt
23165          Lebanon
25643           Turkey
30049             Iran
61678           Israel
64027           Kuwait
78871          Algeria
91750          Morocco
114426           Syria
119326            Iraq
153137    Saudi Arabia
154671         Bahrain
157616           Yemen
Name: country_txt, dtype: object

In [111]:
print(mena)

       country_txt                  region_txt                     city  \
16236       Jordan  Middle East & North Africa                   Hebron
16237       Jordan  Middle East & North Africa                    Amman
16238       Jordan  Middle East & North Africa                    Amman
16239       Jordan  Middle East & North Africa                    Amman
16240       Jordan  Middle East & North Africa                    Amman
16241       Jordan  Middle East & North Africa                    Amman
16242       Jordan  Middle East & North Africa                    Amman
16243       Jordan  Middle East & North Africa                    Amman
16244       Jordan  Middle East & North Africa                    Amman
16245       Jordan  Middle East & North Africa                  Unknown
16246       Jordan  Middle East & North Africa                  Unknown
16247       Jordan  Middle East & North Africa                  Unknown
16248       Jordan  Middle East & North Africa                    Amman
16249       Jordan  Middle East & North Africa                    Amman
16250       Jordan  Middle East & North Africa                    Amman
16251       Jordan  Middle East & North Africa                    Amman
16252       Jordan  Middle East & North Africa                    Amman
16253       Jordan  Middle East & North Africa                    Amman
16254       Jordan  Middle East & North Africa                    Amman
16255       Jordan  Middle East & North Africa                    Amman
16256       Jordan  Middle East & North Africa                    amman
16257       Jordan  Middle East & North Africa                    Amman
16258       Jordan  Middle East & North Africa                    Amman
16259       Jordan  Middle East & North Africa                    Amman
16260       Jordan  Middle East & North Africa                    Amman
16261       Jordan  Middle East & North Africa                    Amman
16262       Jordan  Middle East & North Africa                    Amman
16263       Jordan  Middle East & North Africa                    Amman
16264       Jordan  Middle East & North Africa                    Amman
16265       Jordan  Middle East & North Africa                    Zarqa
...            ...                         ...                      ...
160933       Yemen  Middle East & North Africa          Mahfad district
160934       Yemen  Middle East & North Africa            Shaykh Uthman
160935       Yemen  Middle East & North Africa                     Aden
160936       Yemen  Middle East & North Africa                     Ataq
160937       Yemen  Middle East & North Africa                    Sanaa
160938       Yemen  Middle East & North Africa                    Sanaa
160939       Yemen  Middle East & North Africa                  Unknown
160940       Yemen  Middle East & North Africa                    Sanaa
160941       Yemen  Middle East & North Africa                    Sanaa
160942       Yemen  Middle East & North Africa                    Sanaa
160943       Yemen  Middle East & North Africa                    Sanaa
160944       Yemen  Middle East & North Africa                    Sanaa
160945       Yemen  Middle East & North Africa                    Sanaa
160946       Yemen  Middle East & North Africa            Shaykh Uthman
160947       Yemen  Middle East & North Africa                    Sanaa
160948       Yemen  Middle East & North Africa                    Sanaa
160949       Yemen  Middle East & North Africa              Al-Khawkhah
160950       Yemen  Middle East & North Africa                    Taizz
160951       Yemen  Middle East & North Africa                    Taizz
160952       Yemen  Middle East & North Africa                     Aden
160953       Yemen  Middle East & North Africa                    Marib
160954       Yemen  Middle East & North Africa           Mukha district
160955       Yemen  Middle East & North Africa        Khawkhah district
160956       Yemen  Middle East & North Africa                    Sanaa
160957       Yemen  Middle East & North Africa                  Unknown
160958       Yemen  Middle East & North Africa        Khawkhah district
160959       Yemen  Middle East & North Africa                   Al-Ayn
160960       Yemen  Middle East & North Africa                 Hudaydah
160961       Yemen  Middle East & North Africa  Bayt al-Faqiah district
160962       Yemen  Middle East & North Africa                    Marib

         latitude  longitude  \
16236   31.530243  35.094162
16237   31.950001  35.933331
16238   31.950001  35.933331
16239   31.950001  35.933331
16240   31.950001  35.933331
16241   31.950001  35.933331
16242   31.950001  35.933331
16243   31.950001  35.933331
16244   31.950001  35.933331
16245         NaN        NaN
16246         NaN        NaN
16247         NaN        NaN
16248   31.950001  35.933331
16249   31.950001  35.933331
16250   31.945367  35.928372
16251   31.945367  35.928372
16252   31.945367  35.928372
16253   31.945367  35.928372
16254   31.950001  35.933331
16255   31.950001  35.933331
16256   31.950001  35.933331
16257   31.950001  35.933331
16258   31.950001  35.933331
16259   31.950001  35.933331
16260   31.950001  35.933331
16261   31.950001  35.933331
16262   31.950001  35.933331
16263   31.950001  35.933331
16264   31.950001  35.933331
16265   32.078037  36.095388
...           ...        ...
160933  14.002145  46.722083
160934  12.867085  44.981911
160935  12.825647  44.846416
160936  14.529338  46.830488
160937  15.325443  44.211895
160938  15.325443  44.211895
160939  17.302360  43.394223
160940  15.325443  44.211895
160941  15.325443  44.211895
160942  15.325443  44.211895
160943  15.325443  44.211895
160944  15.325443  44.211895
160945  15.325443  44.211895
160946  12.867085  44.981911
160947  15.325443  44.211895
160948  15.325443  44.211895
160949  13.810242  43.248310
160950  13.586484  44.024105
160951  13.586484  44.024105
160952  12.825647  44.846416
160953  15.456390  45.324871
160954  13.635472  43.317189
160955  13.705788  43.289405
160956  15.325443  44.211895
160957  14.719534  44.247902
160958  13.820762  43.267241
160959  13.332529  44.092531
160960  14.781294  42.972851
160961  14.521675  43.324637
160962  15.456390  45.324871

                                                  target1  iyear  \
16236                                         Tourist Bus   1970
16237                                          US Embassy   1970
16238                                    Military Attache   1970
16239   Morris Draper, chief of political section, U.S...   1970
16240                                              Hotels   1970
16241                                              Hotels   1970
16242          Major, mil. attache in Amman, Robert Perry   1970
16243   Sgt Graham, employee, defense attache office, ...   1970
16244   Jon Stewart, USIS officer (cultural affairs of...   1970
16245                        ZARKA Refinery - Pipeline to   1971
16246       Tapline co, U.S. Co. line, near syrian border   1971
16247                                          Tapline Co   1971
16248                                 Jordanian airliners   1971
16249                              Intercontinental Hotel   1971
16250                                             Offical   1972
16251                                             Offical   1972
16252                                             Offical   1972
16253                                             Offical   1972
16254                                        U.S. embassy   1972
16255                                        U.S. Embassy   1972
16256                           union officials residence   1972
16257                                        U.S. Embassy   1973
16258                           Amman International Hotel   1976
16259                     Akib Noaf, military adjutant to   1980
16260                        Mudar Badran, Prime minister   1981
16261   Yasin al-Kayid, Ministry of Finance Under Secr...   1981
16262   Cinderella grocery store (in first circle area...   1982
16263   American Insurance Company, second floor of bu...   1983
16264   Amideast office (American Friends of the Middl...   1983
16265                                 Army officers' club   1983
...                                                   ...    ...
160933  Convoy of Rapid Intervention Forces Commander:...   2017
160934                               Leader: Ahmad Shaykh   2017
160935                                           Building   2017
160936                                             Convoy   2017
160937  Residence of Nephew of Former President Abdull...   2017
160938                   Foreign Minister: Ibrahim Sharaf   2017
160939                                               Area   2017
160940  Residence of Nephew of Former President Ali Ab...   2017
160941                                       Headquarters   2017
160942  Former Press Secretary for President Ali Abdul...   2017
160943  Residence of Hashid Tribal Confederation Membe...   2017
160944               Former President: Ali Abdullah Saleh   2017
160945  Residence of Former President: Ali Abdullah Saleh   2017
160946                             Imam: Shaykh Al-Umrani   2017
160947                               Female Demonstrators   2017
160948            Undersecretary: Professor Fuad al-Kamim   2017
160949                                               City   2017
160950                                           Hospital   2017
160951                          Soldier: Malik al-Mahmudi   2017
160952                                    Imam: Faiz Fuad   2017
160953  Vehicle of Media Department Head: Muslih al-Ah...   2017
160954                                Vehicle of Soldiers   2017
160955                                      Passenger Bus   2017
160956                                              House   2017
160957                                      Photographers   2017
160958                                          Motorbike   2017
160959                                          Civilians   2017
160960                                          Civilians   2017
160961                                Suspected Informant   2017
160962                                     Ar Ruwayk Camp   2017

        Happiness.Rank15  Happiness.Score15  Happiness.Rank16  \
16236                 82              5.192                80
16237                 82              5.192                80
16238                 82              5.192                80
16239                 82              5.192                80
16240                 82              5.192                80
16241                 82              5.192                80
16242                 82              5.192                80
16243                 82              5.192                80
16244                 82              5.192                80
16245                 82              5.192                80
16246                 82              5.192                80
16247                 82              5.192                80
16248                 82              5.192                80
16249                 82              5.192                80
16250                 82              5.192                80
16251                 82              5.192                80
16252                 82              5.192                80
16253                 82              5.192                80
16254                 82              5.192                80
16255                 82              5.192                80
16256                 82              5.192                80
16257                 82              5.192                80
16258                 82              5.192                80
16259                 82              5.192                80
16260                 82              5.192                80
16261                 82              5.192                80
16262                 82              5.192                80
16263                 82              5.192                80
16264                 82              5.192                80
16265                 82              5.192                80
...                  ...                ...               ...
160933               136              4.077               147
160934               136              4.077               147
160935               136              4.077               147
160936               136              4.077               147
160937               136              4.077               147
160938               136              4.077               147
160939               136              4.077               147
160940               136              4.077               147
160941               136              4.077               147
160942               136              4.077               147
160943               136              4.077               147
160944               136              4.077               147
160945               136              4.077               147
160946               136              4.077               147
160947               136              4.077               147
160948               136              4.077               147
160949               136              4.077               147
160950               136              4.077               147
160951               136              4.077               147
160952               136              4.077               147
160953               136              4.077               147
160954               136              4.077               147
160955               136              4.077               147
160956               136              4.077               147
160957               136              4.077               147
160958               136              4.077               147
160959               136              4.077               147
160960               136              4.077               147
160961               136              4.077               147
160962               136              4.077               147

        Happiness.Score16  Happiness.Rank17  Happiness.Score17  group_count
16236               5.303                74              5.336            3
16237               5.303                74              5.336            3
16238               5.303                74              5.336            3
16239               5.303                74              5.336            3
16240               5.303                74              5.336            3
16241               5.303                74              5.336            3
16242               5.303                74              5.336            3
16243               5.303                74              5.336            3
16244               5.303                74              5.336            3
16245               5.303                74              5.336            3
16246               5.303                74              5.336            3
16247               5.303                74              5.336            3
16248               5.303                74              5.336            3
16249               5.303                74              5.336            3
16250               5.303                74              5.336            3
16251               5.303                74              5.336            3
16252               5.303                74              5.336            3
16253               5.303                74              5.336            3
16254               5.303                74              5.336            3
16255               5.303                74              5.336            3
16256               5.303                74              5.336            3
16257               5.303                74              5.336            3
16258               5.303                74              5.336            3
16259               5.303                74              5.336            3
16260               5.303                74              5.336            3
16261               5.303                74              5.336            3
16262               5.303                74              5.336            3
16263               5.303                74              5.336            3
16264               5.303                74              5.336            3
16265               5.303                74              5.336            3
...                   ...               ...                ...          ...
160933              3.724               146              3.593           17
160934              3.724               146              3.593           17
160935              3.724               146              3.593           17
160936              3.724               146              3.593           17
160937              3.724               146              3.593           17
160938              3.724               146              3.593           17
160939              3.724               146              3.593           17
160940              3.724               146              3.593           17
160941              3.724               146              3.593           17
160942              3.724               146              3.593           17
160943              3.724               146              3.593           17
160944              3.724               146              3.593           17
160945              3.724               146              3.593           17
160946              3.724               146              3.593           17
160947              3.724               146              3.593           17
160948              3.724               146              3.593           17
160949              3.724               146              3.593           17
160950              3.724               146              3.593           17
160951              3.724               146              3.593           17
160952              3.724               146              3.593           17
160953              3.724               146              3.593           17
160954              3.724               146              3.593           17
160955              3.724               146              3.593           17
160956              3.724               146              3.593           17
160957              3.724               146              3.593           17
160958              3.724               146              3.593           17
160959              3.724               146              3.593           17
160960              3.724               146              3.593           17
160961              3.724               146              3.593           17
160962              3.724               146              3.593           17

[45846 rows x 14 columns]