<a href="https://colab.research.google.com/github/FNSY96/TerrorismEventsPrediction/blob/master/Graduation.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **Python Imports**
PLEASE PUT ALL LIBRARY IMPORTS IN THIS CELL **ONLY**

In [1]:
import pandas as pd
import csv
import glob
import os
from pandas import ExcelWriter
from pandas import ExcelFile
import numpy as np
import io
print("imports run")

imports run

In [2]:
!pip3 install pandas

Requirement already satisfied: pandas in /usr/local/lib/python3.6/dist-packages (0.23.4)
Requirement already satisfied: pytz>=2011k in /usr/local/lib/python3.6/dist-packages (from pandas) (2018.9)
Requirement already satisfied: numpy>=1.9.0 in /usr/local/lib/python3.6/dist-packages (from pandas) (1.16.2)
Requirement already satisfied: python-dateutil>=2.5.0 in /usr/local/lib/python3.6/dist-packages (from pandas) (2.5.3)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.6/dist-packages (from python-dateutil>=2.5.0->pandas) (1.11.0)

# Data Set Imports

In [3]:
!pip install -U -q PyDrive
from google.colab import drive
from pydrive.auth import GoogleAuth
from pydrive.drive import GoogleDrive
from google.colab import auth
from oauth2client.client import GoogleCredentials
auth.authenticate_user()
gauth = GoogleAuth()
gauth.credentials = GoogleCredentials.get_application_default()

    100% |████████████████████████████████| 993kB 21.8MB/s
  Building wheel for PyDrive (setup.py) ... done

In [4]:
# drive = GoogleDrive(gauth)
drive.mount("/content/drive", force_remount=True)
datadir  = 'drive/My Drive/GraduationProject/Data'

Go to this URL in a browser: https://accounts.google.com/o/oauth2/auth?client_id=947318989803-6bn6qk8qdgf4n4g3pfee6491hc0brc4i.apps.googleusercontent.com&redirect_uri=urn%3Aietf%3Awg%3Aoauth%3A2.0%3Aoob&scope=email%20https%3A%2F%2Fwww.googleapis.com%2Fauth%2Fdocs.test%20https%3A%2F%2Fwww.googleapis.com%2Fauth%2Fdrive%20https%3A%2F%2Fwww.googleapis.com%2Fauth%2Fdrive.photos.readonly%20https%3A%2F%2Fwww.googleapis.com%2Fauth%2Fpeopleapi.readonly&response_type=code

Enter your authorization code:
··········
Mounted at /content/drive

###**GTD**

In [0]:
# !ls drive/'My Drive'/GraduationProject/Data/gtd.csv

# Functions

In [0]:
# def remove_NaN(data_set, attributes_NaN):
#   data_set = data_set.fillna(data_set.mean())
#   for i in range(len(attributes_NaN)):
#       attribute = attributes_NaN[i]
#       mode =  data_set[attribute].mode()[0]
#       data_set[attribute] = data_set.groupby(attribute)[attribute].apply(lambda x: x.fillna(x.value_counts().idxmax() if x.value_counts().max() >=1 else mode , inplace = False))
#       data_set[attribute]= data_set[attribute].fillna(data_set[attribute].value_counts().idxmax())
#   return data_set

In [0]:
# def filter_dataframe(data_set, columns):
#   return data_set[columns]

# Pandas Data Frames
Useful link : https://youtu.be/2AFGPdNn4FM

## **GTD Data Frame**

In [5]:
gtd_df = pd.read_csv(os.path.join(datadir, 'gtd.csv'),encoding='latin-1')
print(gtd_df.columns.values)
print(gtd_df)

/usr/local/lib/python3.6/dist-packages/IPython/core/interactiveshell.py:2718: DtypeWarning: Columns (4,6,31,33,61,62,63,76,79,90,92,94,96,114,115,121) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

['eventid' 'iyear' 'imonth' 'iday' 'approxdate' 'extended' 'resolution'
 'country' 'country_txt' 'region' 'region_txt' 'provstate' 'city'
 'latitude' 'longitude' 'specificity' 'vicinity' 'location' 'summary'
 'crit1' 'crit2' 'crit3' 'doubtterr' 'alternative' 'alternative_txt'
 'multiple' 'success' 'suicide' 'attacktype1' 'attacktype1_txt'
 'attacktype2' 'attacktype2_txt' 'attacktype3' 'attacktype3_txt'
 'targtype1' 'targtype1_txt' 'targsubtype1' 'targsubtype1_txt' 'corp1'
 'target1' 'natlty1' 'natlty1_txt' 'targtype2' 'targtype2_txt'
 'targsubtype2' 'targsubtype2_txt' 'corp2' 'target2' 'natlty2'
 'natlty2_txt' 'targtype3' 'targtype3_txt' 'targsubtype3'
 'targsubtype3_txt' 'corp3' 'target3' 'natlty3' 'natlty3_txt' 'gname'
 'gsubname' 'gname2' 'gsubname2' 'gname3' 'gsubname3' 'motive'
 'guncertain1' 'guncertain2' 'guncertain3' 'individual' 'nperps'
 'nperpcap' 'claimed' 'claimmode' 'claimmode_txt' 'claim2' 'claimmode2'
 'claimmode2_txt' 'claim3' 'claimmode3' 'claimmode3_txt' 'compclaim'
 'weaptype1' 'weaptype1_txt' 'weapsubtype1' 'weapsubtype1_txt' 'weaptype2'
 'weaptype2_txt' 'weapsubtype2' 'weapsubtype2_txt' 'weaptype3'
 'weaptype3_txt' 'weapsubtype3' 'weapsubtype3_txt' 'weaptype4'
 'weaptype4_txt' 'weapsubtype4' 'weapsubtype4_txt' 'weapdetail' 'nkill'
 'nkillus' 'nkillter' 'nwound' 'nwoundus' 'nwoundte' 'property'
 'propextent' 'propextent_txt' 'propvalue' 'propcomment' 'ishostkid'
 'nhostkid' 'nhostkidus' 'nhours' 'ndays' 'divert' 'kidhijcountry'
 'ransom' 'ransomamt' 'ransomamtus' 'ransompaid' 'ransompaidus'
 'ransomnote' 'hostkidoutcome' 'hostkidoutcome_txt' 'nreleased' 'addnotes'
 'scite1' 'scite2' 'scite3' 'dbsource' 'INT_LOG' 'INT_IDEO' 'INT_MISC'
 'INT_ANY' 'related']
             eventid  iyear  imonth  iday           approxdate  extended  \
0       197000000001   1970       7     2                  NaN         0
1       197000000002   1970       0     0                  NaN         0
2       197001000001   1970       1     0                  NaN         0
3       197001000002   1970       1     0                  NaN         0
4       197001000003   1970       1     0                  NaN         0
5       197001010002   1970       1     1                  NaN         0
6       197001020001   1970       1     2                  NaN         0
7       197001020002   1970       1     2                  NaN         0
8       197001020003   1970       1     2                  NaN         0
9       197001030001   1970       1     3                  NaN         0
10      197001050001   1970       1     1                  NaN         0
11      197001060001   1970       1     6                  NaN         0
12      197001080001   1970       1     8                  NaN         0
13      197001090001   1970       1     9                  NaN         0
14      197001090002   1970       1     9                  NaN         0
15      197001100001   1970       1    10                  NaN         0
16      197001110001   1970       1    11                  NaN         0
17      197001120001   1970       1    12                  NaN         0
18      197001120002   1970       1    12                  NaN         0
19      197001130001   1970       1    13                  NaN         0
20      197001140001   1970       1    14                  NaN         0
21      197001150001   1970       1    15                  NaN         0
22      197001190002   1970       1    19                  NaN         0
23      197001190003   1970       1    19                  NaN         0
24      197001190004   1970       1    19  January 19-20, 1970         0
25      197001200001   1970       1    20                  NaN         0
26      197001210001   1970       1    21                  NaN         0
27      197001220001   1970       1    22                  NaN         0
28      197001220002   1970       1    22                  NaN         0
29      197001250001   1970       1    25                  NaN         0
...              ...    ...     ...   ...                  ...       ...
181661  201712300019   2017      12    28                  NaN         0
181662  201712300020   2017      12    30                  NaN         0
181663  201712300021   2017      12    30                  NaN         0
181664  201712300022   2017      12    30                  NaN         0
181665  201712300023   2017      12    30                  NaN         0
181666  201712300025   2017      12    30                  NaN         0
181667  201712300026   2017      12    30                  NaN         0
181668  201712310001   2017      12    31  2017-12-31 00:00:00         0
181669  201712310002   2017      12    30                  NaN         0
181670  201712310003   2017      12    31  2017-12-31 00:00:00         0
181671  201712310004   2017      12    31                  NaN         0
181672  201712310005   2017      12    31                  NaN         0
181673  201712310006   2017      12    31                  NaN         0
181674  201712310007   2017      12    31                  NaN         0
181675  201712310008   2017      12    31                  NaN         0
181676  201712310009   2017      12    31                  NaN         0
181677  201712310010   2017      12    31                  NaN         0
181678  201712310011   2017      12    30                  NaN         0
181679  201712310012   2017      12    31                  NaN         0
181680  201712310013   2017      12    31                  NaN         0
181681  201712310016   2017      12    31                  NaN         0
181682  201712310017   2017      12    31                  NaN         0
181683  201712310018   2017      12    31                  NaN         0
181684  201712310019   2017      12    31                  NaN         0
181685  201712310020   2017      12    31                  NaN         0
181686  201712310022   2017      12    31                  NaN         0
181687  201712310029   2017      12    31                  NaN         0
181688  201712310030   2017      12    31                  NaN         0
181689  201712310031   2017      12    31                  NaN         0
181690  201712310032   2017      12    31                  NaN         0

       resolution  country         country_txt  region  \
0             NaN       58  Dominican Republic       2
1             NaN      130              Mexico       1
2             NaN      160         Philippines       5
3             NaN       78              Greece       8
4             NaN      101               Japan       4
5             NaN      217       United States       1
6             NaN      218             Uruguay       3
7             NaN      217       United States       1
8             NaN      217       United States       1
9             NaN      217       United States       1
10            NaN      217       United States       1
11            NaN      217       United States       1
12            NaN       98               Italy       8
13            NaN      217       United States       1
14            NaN      217       United States       1
15            NaN      499  East Germany (GDR)       9
16            NaN       65            Ethiopia      11
17            NaN      217       United States       1
18            NaN      217       United States       1
19            NaN      217       United States       1
20            NaN      217       United States       1
21            NaN      218             Uruguay       3
22            NaN      217       United States       1
23            NaN      217       United States       1
24            NaN      217       United States       1
25            NaN       83           Guatemala       2
26            NaN      160         Philippines       5
27            NaN      222           Venezuela       3
28            NaN      217       United States       1
29            NaN      217       United States       1
...           ...      ...                 ...     ...
181661        NaN       92               India       6
181662        NaN      160         Philippines       5
181663        NaN       92               India       6
181664        NaN      603      United Kingdom       8
181665        NaN       92               India       6
181666        NaN      147             Nigeria      11
181667        NaN      200               Syria      10
181668        NaN       95                Iraq      10
181669        NaN       95                Iraq      10
181670        NaN       95                Iraq      10
181671        NaN       95                Iraq      10
181672        NaN       92               India       6
181673        NaN        4         Afghanistan       6
181674        NaN       95                Iraq      10
181675        NaN      182             Somalia      11
181676        NaN        4         Afghanistan       6
181677        NaN      160         Philippines       5
181678        NaN      160         Philippines       5
181679        NaN       95                Iraq      10
181680        NaN      182             Somalia      11
181681        NaN      160         Philippines       5
181682        NaN       98               Italy       8
181683        NaN        4         Afghanistan       6
181684        NaN       92               India       6
181685        NaN        4         Afghanistan       6
181686        NaN      182             Somalia      11
181687        NaN      200               Syria      10
181688        NaN      160         Philippines       5
181689        NaN       92               India       6
181690        NaN      160         Philippines       5

                   ...              \
0                  ...
1                  ...
2                  ...
3                  ...
4                  ...
5                  ...
6                  ...
7                  ...
8                  ...
9                  ...
10                 ...
11                 ...
12                 ...
13                 ...
14                 ...
15                 ...
16                 ...
17                 ...
18                 ...
19                 ...
20                 ...
21                 ...
22                 ...
23                 ...
24                 ...
25                 ...
26                 ...
27                 ...
28                 ...
29                 ...
...                ...
181661             ...
181662             ...
181663             ...
181664             ...
181665             ...
181666             ...
181667             ...
181668             ...
181669             ...
181670             ...
181671             ...
181672             ...
181673             ...
181674             ...
181675             ...
181676             ...
181677             ...
181678             ...
181679             ...
181680             ...
181681             ...
181682             ...
181683             ...
181684             ...
181685             ...
181686             ...
181687             ...
181688             ...
181689             ...
181690             ...

                                                 addnotes  \
0                                                     NaN
1                                                     NaN
2                                                     NaN
3                                                     NaN
4                                                     NaN
5       The Cairo Chief of Police, William Petersen, r...
6                                                     NaN
7       Damages were estimated to be between $20,000-$...
8       The New Years Gang issue a communiqué to a loc...
9       Karl Armstrong's girlfriend, Lynn Schultz, dro...
10                                                    NaN
11                                                    NaN
12                                                    NaN
13                                                    NaN
14      The fire began at 8:30 PM. The Armed Commandos...
15                                                    NaN
16                                                    NaN
17      One half hour after the bomb explosion, an ano...
18                                                    NaN
19      The store was a White owned business operating...
20                                                    NaN
21                                                    NaN
22      Witnesses observed three African American male...
23      Judith and Silas Bissell were both members of ...
24      The building might have been shot at a second ...
25                                                    NaN
26                                                    NaN
27                                                    NaN
28      This attack might be linked with other episode...
29      Police, at the time suspected, that this attac...
...                                                   ...
181661                                                NaN
181662                                                NaN
181663                                                NaN
181664                                                NaN
181665                                                NaN
181666                                                NaN
181667                                                NaN
181668                                                NaN
181669  Casualty numbers conflict across sources. Foll...
181670                                                NaN
181671  Casualty numbers conflict across sources. Foll...
181672  The victims included Kuldip Roy, Taufail Ahmed...
181673  Casualty numbers conflict across sources. Foll...
181674                                                NaN
181675                                                NaN
181676  The victims included police commander Faqeer A...
181677                                                NaN
181678  The victims included the owner, Norodin Pacaln...
181679                                                NaN
181680                                                NaN
181681  The victims included Senior Police Officer 4 M...
181682                                                NaN
181683                                                NaN
181684                                                NaN
181685                                                NaN
181686                                                NaN
181687                                                NaN
181688                                                NaN
181689                                                NaN
181690                                                NaN

                                                   scite1  \
0                                                     NaN
1                                                     NaN
2                                                     NaN
3                                                     NaN
4                                                     NaN
5       "Police Chief Quits," Washington Post, January...
6                                                     NaN
7       Committee on Government Operations United Stat...
8       Tom Bates, "Rads: The 1970 Bombing of the Army...
9       Committee on Government Operations United Stat...
10                                                    NaN
11      Committee on Government Operations United Stat...
12                                                    NaN
13      Committee on Government Operations United Stat...
14      Committee on the Judiciary  United States Sena...
15                                                    NaN
16                                                    NaN
17      "Blast Damages Flatbush School," New York Time...
18      Committee on the Judiciary  United States Sena...
19      Committee on Government Operations United Stat...
20      Committee on Government Operations United Stat...
21                                                    NaN
22      Committee on Government Operations United Stat...
23      Committee on Government Operations United Stat...
24      Committee on Government Operations United Stat...
25                                                    NaN
26                                                    NaN
27                                                    NaN
28      Committee on Government Operations United Stat...
29      "Miss. City Is Desegregation Trouble Spot," Ch...
...                                                   ...
181661  "Two held over attacks on mosques in two Telug...
181662  "Philippines: Troops, NPA clash hours before s...
181663  "Crude bomb explosion at two places in Kerala'...
181664  "Four children terrified after witnessing 'bru...
181665  "Maoists set ablaze seven vehicles in Dantewad...
181666  "Nigeria Scores Killed in Boko Haram Attacks i...
181667  "Al-Qaida affiliates start new year with offen...
181668  "Iraq: Security Roundup 1900 GMT 31 December 2...
181669  "Five civilians killed in two bomb attacks in ...
181670  "Iraq: Security Roundup 1900 GMT 31 December 2...
181671  "Islamic State attack leaves thirteen civilian...
181672  "Three soldiers killed in Indian-administered ...
181673  "Death toll from funeral blast in eastern Afgh...
181674  "Five IS militants killed as paramilitary troo...
181675  "Somalia: Al-Shabab says 5 AU soldiers dead in...
181676  "Commander among 5 ALP members killed in Logar...
181677  "3 slain in Maguindanao roadside bombings," Ph...
181678  "Cops hunt North Cotabato bombers," Philippine...
181679  "13 IS militants killed in attack on paramilit...
181680  "Somalia's al-Shabab fires mortars at Ethiopia...
181681  "3 dead, scores injured in Mindanao blasts," M...
181682  "Arson attack probed as racial crime," Ansa.it...
181683  "Six Members Of One Family Shot Dead In Faryab...
181684  "Abducted PSO rescued within 11 hours," The Se...
181685  "4 people injured in Farayb explosion," Pajhwo...
181686  "Somalia: Al-Shabaab Militants Attack Army Che...
181687  "Putin's 'victory' in Syria has turned into a ...
181688  "Maguindanao clashes trap tribe members," Phil...
181689  "Trader escapes grenade attack in Imphal," Bus...
181690  "Security tightened in Cotabato following IED ...

                                                   scite2  \
0                                                     NaN
1                                                     NaN
2                                                     NaN
3                                                     NaN
4                                                     NaN
5       "Cairo Police Chief Quits; Decries Local 'Mili...
6                                                     NaN
7       Christopher Hewitt, "Political Violence and Te...
8       David Newman, Sandra Sutherland, and Jon Stewa...
9       Tom Bates, "Rads: The 1970 Bombing of the Army...
10                                                    NaN
11      Christopher Hewitt, "Political Violence and Te...
12                                                    NaN
13      Christopher Hewitt, "Political Violence and Te...
14      "No Evidence Of Arson Found In Barkers Fire," ...
15                                                    NaN
16                                                    NaN
17      Linda Greenhouse, "Madison School Puzzled By B...
18      "Toward People's War for Independence and Soci...
19                                                    NaN
20      Christopher Hewitt, "Political Violence and Te...
21                                                    NaN
22      Christopher Hewitt, "Political Violence and Te...
23      Christopher Hewitt, "Political Violence and Te...
24      "Black Panthers Say Office Was Bombed," New Yo...
25                                                    NaN
26                                                    NaN
27                                                    NaN

In [0]:
gtd_filtered_df = gtd_df[['country_txt','region_txt','city','provstate', 'target1', 'iyear','imonth', 'gname', 'weaptype1_txt','attacktype1_txt','attacktype1']]
# print(gtd_filtered_df)
# print(gtd_filtered_df.isna().sum())

### GTD Removed NaN

In [0]:
# DO NOT REMOVE THIS ONE WE COMMENTED IT TEMORARLY
# clean NaN
# gtd_filtered_df = gtd_filtered_df.fillna(gtd_filtered_df.mean())
# attributes_NaN = ['country_txt', 'city', 'target']
# gtd_filtered_df = remove_NaN(gtd_filtered_df, attributes_NaN)
# print(gtd_filtered_df)

## **GECON Data Frame**

In [7]:
gecon_df = pd.read_csv(os.path.join(datadir, 'Gecon40_post_final_kh.csv'),encoding='latin-1')
# print(gecon_df.columns.values)

/usr/local/lib/python3.6/dist-packages/IPython/core/interactiveshell.py:2718: DtypeWarning: Columns (16,19,25,28) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [0]:
gecon_filtered_df = gecon_df[['AREA', 'COUNTRY', 'DIS_LAKE','DIS_MAJOR_RIVER']]

# print(gecon_filtered_df.isna().sum())

# print(gecon_filtered_df)

In [0]:
# clean NaN
# gecon_filtered_df = gecon_filtered_df.fillna(gecon_filtered_df.mean())
# gecon_filtered_df = remove_NaN(gecon_filtered_df, [])

# print(gecon_filtered_df.isna().sum())

# print(gecon_filtered_df)

## **GeoEPR Data Frame**

In [0]:
geo_df = pd.read_csv(os.path.join(datadir, 'GeoEPR-2018.1.csv'),encoding='latin-1')
# print(geo_df.columns.values)
# # statename, group
# print(geo_df)

In [0]:
geo_filtered_df = geo_df[['statename','group']]
geo_filtered_df = geo_filtered_df.rename(index=str, columns={"statename": "country_txt"})
# print(geo_filtered_df)
# print(geo_filtered_df.isna().sum())
# print(geo_filtered_df.groupby('country_txt').count())

In [0]:
# clean NaN
# geo_filtered_df = geo_filtered_df.fillna(geo_filtered_df.mean())
#attributes_NaN = ['statename', 'group', 'type']
#geo_filtered_df = remove_NaN(geo_filtered_df, attributes_NaN)

#print(geo_filtered_df)

## **Happiness World Report Data Frame**

In [0]:
happy_df_17 = pd.read_csv(os.path.join(datadir, 'Happiness2017.csv'),encoding='latin-1')
happy_df_16 = pd.read_csv(os.path.join(datadir, 'Happiness2016.csv'),encoding='latin-1')
happy_df_15 = pd.read_csv(os.path.join(datadir, 'Happiness2015.csv'),encoding='latin-1')
# happiness = [happy_df_15, happy_df_16, happy_df_17]
happy_df_17 = happy_df_17.rename(index=str, columns={"Country": "country_txt", "Happiness.Rank": "Happiness.Rank17", "Happiness.Score": "Happiness.Score17", "Freedom": "Freedom17", "Economy..GDP.per.Capita.": "Economy17"})
happy_df_16 = happy_df_16.rename(index=str, columns={"Country": "country_txt", "Happiness Rank": "Happiness.Rank16", "Happiness Score": "Happiness.Score16", "Freedom": "Freedom16", "Economy (GDP per Capita)": "Economy16"})
happy_df_15 = happy_df_15.rename(index=str, columns={"Country": "country_txt", "Happiness Rank": "Happiness.Rank15", "Happiness Score": "Happiness.Score15", "Freedom": "Freedom15", "Economy (GDP per Capita)": "Economy15"})

In [0]:
happiness_filtered = [happy_df_15[['country_txt','Happiness.Score15', 'Freedom15', 'Economy15']],
                      happy_df_16[['country_txt','Happiness.Score16', 'Freedom16', 'Economy16']], 
                      happy_df_17[['country_txt','Happiness.Score17', 'Freedom17', 'Economy17']]]

In [0]:
# clean NaN
# for i in range(len(happiness_filtered)):
#   happiness_filtered[i] = remove_NaN(happiness_filtered[i], ['country_txt'])
# happy_filtered_df = happy_filtered_df.rename(index=str, columns={"Country": "country_txt"})
# print(happy_filtered_df.columns.values)

###TRIALS

In [66]:
# d = {'one': pd.Series([1., 3.], index=['a', 'c']), 'two': pd.Series([1., 2., 3., 4.], index=['a', 'b', 'c', 'd']), 'three': pd.Series(["A", "B", "A"], index=['a', 'c', 'd'])}
# df = pd.DataFrame(d)
# print(df)
# # print(df.isna().sum())
# df = df.fillna(df.mean())
# mode =  df['three'].mode()[0]
# df['three'] = df.groupby('three')['three'].apply(lambda x: x.fillna(x.value_counts().idxmax() if x.value_counts().max() >=1 else mode , inplace = False))
# df['three']= df['three'].fillna(df['three'].value_counts().idxmax())
# print(df)
# df = pd.DataFrame(data={'location': [1, 2, 3],
#                         'coor': [(14.48847, 103.161477),
#                               (14.970084, 103.062853),
#                               (np.nan, np.nan)]})
# print(df)
# # df.dropna(how='any')
# df = df[~df.coor.apply(lambda x: np.isnan(x[0]) & np.isnan(x[1]))]
# # df = df[pd.DataFrame(df.coor.tolist()).notna().all(1)]
# print(df)

   location                     coor
0         1   (14.48847, 103.161477)
1         2  (14.970084, 103.062853)
2         3               (nan, nan)
   location                     coor
0         1   (14.48847, 103.161477)
1         2  (14.970084, 103.062853)

## MERGED DATA

In [19]:
ethnic_count = geo_filtered_df.groupby('country_txt').count()
countries = pd.DataFrame(geo_filtered_df['country_txt'].drop_duplicates().sort_values())
ethnic_count = pd.concat([ethnic_count.reset_index(drop=True),countries.reset_index(drop=True)], axis=1)
ethnic_count = ethnic_count.rename(index=str, columns={"group":"group_count"})
print(ethnic_count.columns.values)

['group_count' 'country_txt']

In [20]:
#result = pd.concat([gtd_filtered_df, happy_filtered_df],gtd_filtered_df["country_txt"]=happy_filtered_df["Country"])
#'Happiness.Rank' 'Happiness.Score'
gtd_merged_happiness = gtd_filtered_df
for i in range(len(happiness_filtered)):
  gtd_merged_happiness = pd.merge(gtd_merged_happiness, happiness_filtered[i],on='country_txt')
gtd_merged_happiness = pd.merge(gtd_merged_happiness, ethnic_count, on='country_txt')
print(gtd_merged_happiness.shape)
# print(gtd_merged_happiness['region_txt'].drop_duplicates())

(167161, 21)

In [90]:
print(gtd_merged_happiness.columns.values)

['country_txt' 'region_txt' 'city' 'provstate' 'target1' 'iyear' 'imonth'
 'gname' 'weaptype1_txt' 'attacktype1_txt' 'attacktype1'
 'Happiness.Score15' 'Freedom15' 'Economy15' 'Happiness.Score16'
 'Freedom16' 'Economy16' 'Happiness.Score17' 'Freedom17' 'Economy17'
 'group_count']

In [0]:
# MENA stands for Middle East and North Africa region
mena = gtd_merged_happiness.loc[gtd_merged_happiness['region_txt'] == 'Middle East & North Africa']

In [92]:
print(mena.shape)

(45846, 21)

In [16]:
print(mena['country_txt'].drop_duplicates())

16236           Jordan
19871            Egypt
23165          Lebanon
25643           Turkey
30049             Iran
61678           Israel
64027           Kuwait
78871          Algeria
91750          Morocco
114426           Syria
119326            Iraq
153137    Saudi Arabia
154671         Bahrain
157616           Yemen
Name: country_txt, dtype: object

In [94]:
# Number of distinct terrorist groups in the MENA region = 636
# print(np.unique(mena[['gname']].values))
print(np.unique(mena[['gname']]).size)

636

In [33]:
# attribute "Unknown > 27000" I think we should drop all of that
# It doesn't make sense to predict an "Unknown"
print(mena['gname'].value_counts())
print(mena['gname'].size)

Unknown                                                     27245
Islamic State of Iraq and the Levant (ISIL)                  5553
Kurdistan Workers' Party (PKK)                               2137
Houthi extremists (Ansar Allah)                              1062
Al-Qaida in the Arabian Peninsula (AQAP)                     1016
Al-Qaida in Iraq                                              637
Palestinians                                                  613
Sinai Province of the Islamic State                           443
Hezbollah                                                     380
Algerian Islamic Extremists                                   373
Al-Nusrah Front                                               277
Al-Gama'at al-Islamiyya (IG)                                  257
Muslim extremists                                             253
Dev Sol                                                       236
Armed Islamic Group (GIA)                                     224
Salafist Group for Preaching and Fighting (GSPC)              212
Hamas (Islamic Resistance Movement)                           207
Al-Qaida in the Islamic Maghreb (AQIM)                        181
Islamist extremists                                           179
Islamic Salvation Front (FIS)                                 153
Islamic State of Iraq (ISI)                                   145
Palestinian Islamic Jihad (PIJ)                               135
Palestine Liberation Organization (PLO)                       132
Muslim Brotherhood                                            121
Free Syrian Army                                              120
Mujahedin-e Khalq (MEK)                                       106
Muslim Militants                                              104
Popular Front for the Liberation of Palestine (PFLP)           97
Gunmen                                                         95
Tribesmen                                                      95
                                                            ...
Islamic Front for the Liberation of Bahrain                     1
14 March Coalition                                              1
Anti Kurdish Workers Party Iraq nationals                       1
Jund Al-Tawid                                                   1
Tawhid and Jihad (Palestine)                                    1
The Revolt                                                      1
Union of Revolutionary Communists in Turkey (TIKB)              1
Shaykh Hassan Khalid Forces                                     1
Movement of the Islamic State (MEI)                             1
Islamic Holy Star                                               1
Supreme Islamic Council                                         1
Sunni Resistance Committees in Lebanon (SRCL)                   1
Militant Islamic Group, name not stated                         1
Al-Fatihin Army (AFA)                                           1
Arab Youth Group (Militant)                                     1
Turkish Islamic Commandos                                       1
Dev Genc                                                        1
Fetullah Terrorist Organization                                 1
Mesopotamian Army (MEZOR)                                       1
Arab Struggle                                                   1
Nobles of Jordan                                                1
Organization of Avenging Palestinian Youth                      1
Popular Army Vanguards- Battalions of Return                    1
Organization of the Sons of Occupied Territories                1
Liwa al-Tawhid                                                  1
Al-Mua'qi'oon Biddam Brigade (Those who Sign with Blood)        1
Fundamentalists                                                 1
Khalid ibn Walid Brigade                                        1
July 14 Movement                                                1
Diraa al-Shahbaa Rebel Brigade                                  1
Name: gname, Length: 636, dtype: int64
45846



```
`# This is formatted as code`
```

### Filtering Dataframe

In [60]:
# drop rows with nan in mena
print(mena.shape)
mena_cleaned = mena.dropna()
print(mena_cleaned.shape)

# select disired labels
mena_filtered = mena_cleaned[(mena_cleaned['gname'] == "Unknown") | (mena_cleaned['gname'] == "Islamic State of Iraq and the Levant (ISIL)") | (mena_cleaned['gname'] == "Kurdistan Workers' Party (PKK)") | (mena_cleaned['gname'] == "Houthi extremists (Ansar Allah)") | (mena_cleaned['gname'] == "Al-Qaida in the Arabian Peninsula (AQAP)") | (mena_cleaned['gname'] == "Al-Qaida in Iraq")]

print(mena_filtered['gname'].value_counts())
print(mena_filtered['gname'].size)

labels = ["Unknown", "Islamic State of Iraq and the Levant (ISIL)", "Kurdistan Workers' Party (PKK)", "Houthi extremists (Ansar Allah)", "Al-Qaida in the Arabian Peninsula (AQAP)", "Al-Qaida in Iraq"]

(45846, 21)
(45624, 21)
Unknown                                        27132
Islamic State of Iraq and the Levant (ISIL)     5553
Kurdistan Workers' Party (PKK)                  2134
Houthi extremists (Ansar Allah)                 1062
Al-Qaida in the Arabian Peninsula (AQAP)        1016
Al-Qaida in Iraq                                 635
Name: gname, dtype: int64
37532

In [32]:
mena_train = mena_cleaned.copy()
mena_test = mena_cleaned.copy()

mena_train = mena_train[mena_train['iyear'] < 2017]
mena_test = mena_test[mena_test['iyear'] >= 2017]

print(mena_train.shape)
print(mena_test.shape)

(42121, 21)
(3503, 21)

In [0]:
# KNN classifier

In [53]:
test = pd.DataFrame({'id': np.array([1,2,3,4] * 2,dtype='int32'),
                     'num': np.array([1,2] * 4,dtype='int32')
                    })
print(test)

test = test[(test['id'] != 1) & (test['num'] != 1)]
print(test)

   id  num
0   1    1
1   2    2
2   3    1
3   4    2
4   1    1
5   2    2
6   3    1
7   4    2
   id  num
1   2    2
3   4    2
5   2    2
7   4    2