<a href="https://colab.research.google.com/github/FNSY96/TerrorismEventsPrediction/blob/master/Graduation.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **Python Imports**
PLEASE PUT ALL LIBRARY IMPORTS IN THIS CELL **ONLY**

In [5]:
import pandas as pd
import csv
import glob
import os
from pandas import ExcelWriter
from pandas import ExcelFile
import io
print("imports run")

imports run

In [4]:
!pip3 install pandas

Requirement already satisfied: pandas in /usr/local/lib/python3.6/dist-packages (0.22.0)
Requirement already satisfied: numpy>=1.9.0 in /usr/local/lib/python3.6/dist-packages (from pandas) (1.14.6)
Requirement already satisfied: python-dateutil>=2 in /usr/local/lib/python3.6/dist-packages (from pandas) (2.5.3)
Requirement already satisfied: pytz>=2011k in /usr/local/lib/python3.6/dist-packages (from pandas) (2018.9)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.6/dist-packages (from python-dateutil>=2->pandas) (1.11.0)

# Data Set Imports

In [0]:
!pip install -U -q PyDrive
from google.colab import drive
from pydrive.auth import GoogleAuth
from pydrive.drive import GoogleDrive
from google.colab import auth
from oauth2client.client import GoogleCredentials
auth.authenticate_user()
gauth = GoogleAuth()
gauth.credentials = GoogleCredentials.get_application_default()

In [8]:
# drive = GoogleDrive(gauth)
drive.mount("/content/drive", force_remount=True)
datadir  = 'drive/My Drive/GraduationProject/Data'

Mounted at /content/drive

### **GeoEPR**

In [0]:
# fid = drive.ListFile({'q':"title='GeoEPR-2018.1.csv'"}).GetList()[0]['id']
# f = drive.CreateFile({'id': fid})
# f.GetContentFile('GeoEPR-2018.1.csv')
# f.Upload()

### **Gecon40_post_final**

In [0]:
# fid = drive.ListFile({'q':"title='Gecon40_post_final_kh.csv'"}).GetList()[0]['id']
# f = drive.CreateFile({'id': fid})
# f.GetContentFile('Gecon40_post_final.csv')
# f.Upload()

###**GTD**

In [0]:
# !ls drive/'My Drive'/GraduationProject/Data/gtd.csv

# Functions

In [0]:
def remove_NaN(data_set, attributes_NaN):
  data_set = data_set.fillna(data_set.mean())
  for i in range(len(attributes_NaN)):
      attribute = attributes_NaN[i]
      mode =  data_set[attribute].mode()[0]
      data_set[attribute] = data_set.groupby(attribute)[attribute].apply(lambda x: x.fillna(x.value_counts().idxmax() if x.value_counts().max() >=1 else mode , inplace = False))
      data_set[attribute]= data_set[attribute].fillna(data_set[attribute].value_counts().idxmax())
  return data_set

# Pandas Data Frames
Useful link : https://youtu.be/2AFGPdNn4FM

## **GTD Data Frame**

In [11]:
gtd_df = pd.read_csv(os.path.join(datadir, 'gtd.csv'),encoding='latin-1')
# print(gtd_df.columns.values)

/usr/local/lib/python3.6/dist-packages/IPython/core/interactiveshell.py:2718: DtypeWarning: Columns (4,6,31,33,61,62,63,76,79,90,92,94,96,114,115,121) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [12]:
gtd_filtered_df = gtd_df[['country','city','latitude', 'longitude', 'target1', 'iyear', 'region']]
print(gtd_filtered_df)

        country                    city   latitude   longitude  \
0            58           Santo Domingo  18.456792  -69.951164
1           130             Mexico city  19.371887  -99.086624
2           160                 Unknown  15.478598  120.599741
3            78                  Athens  37.997490   23.762728
4           101                 Fukouka  33.580412  130.396361
5           217                   Cairo  37.005105  -89.176269
6           218              Montevideo -34.891151  -56.187214
7           217                 Oakland  37.791927 -122.225906
8           217                 Madison  43.076592  -89.412488
9           217                 Madison  43.072950  -89.386694
10          217                 Baraboo  43.468500  -89.744299
11          217                  Denver  39.758968 -104.876305
12           98                    Rome  41.890961   12.490069
13          217                 Detroit  42.331685  -83.047924
14          217             Rio Piedras  18.386932  -66.061127
15          499                  Berlin  52.501530   13.401851
16           65                 Unknown        NaN         NaN
17          217           New York City  40.697132  -73.931351
18          217              Rio Grande  18.379998  -65.830948
19          217                 Seattle  47.610786 -122.331306
20          217               Champaign  40.116748  -88.239270
21          218              Montevideo -34.891151  -56.187214
22          217                 Seattle  47.610786 -122.331306
23          217                 Seattle  47.610786 -122.331306
24          217             Jersey City  40.717892  -74.067467
25           83          Guatemala City  14.622869  -90.529068
26          160             Quezon City  14.674280  121.057495
27          222                 Caracas  10.482834  -66.962128
28          217        South Sioux City  42.470310  -96.413949
29          217              West Point  33.606510  -88.650419
...         ...                     ...        ...         ...
181661       92               Talacheru  17.001086   81.807490
181662      160               Tarragona   7.042777  126.449221
181663       92           Koothuparamba  11.831902   75.565432
181664      603                 Belfast  54.607712   -5.956210
181665       92                Toylanka  18.802725   81.497666
181666      147        Konduga district  11.492144   12.969724
181667      200                 Harasta  33.561504   36.368763
181668       95                 Shurjah  35.560376   44.524705
181669       95                  Kirkuk  35.452110   44.375465
181670       95            Hawd al-Waqf  33.816111   44.783524
181671       95              Farhatiyah  34.031331   44.070106
181672       92               Lethapora  33.966527   74.964225
181673        4               Jalalabad  34.417122   70.449593
181674       95                    Baaj  36.045059   41.716717
181675      182               Mogadishu   2.059819   45.326115
181676        4  Mohammad Agha district  34.217806   69.109316
181677      160                 Limpogo   6.983953  124.420664
181678      160          Pikit district   7.053143  124.619270
181679       95              Muqdadiyah  33.953167   44.921906
181680      182                   Wajid   3.810951   43.246506
181681      160           Shariff Aguak   6.862806  124.443649
181682       98               Spinetoli  42.888982   13.772795
181683        4       Kohistan district  35.315467   64.815508
181684       92                 Hungrum  25.180162   93.015788
181685        4                 Maymana  35.921051   64.774544
181686      182           Ceelka Geelow   2.359673   45.385034
181687      200                  Jableh  35.407278   35.942679
181688      160                Kubentog   6.900742  124.437908
181689       92                  Imphal  24.798346   93.940430
181690      160           Cotabato City   7.209594  124.241966

                                                  target1  iyear  region
0                                            Julio Guzman   1970       2
1                                 Nadine Chaval, daughter   1970       1
2                                                Employee   1970       5
3                                            U.S. Embassy   1970       8
4                                          U.S. Consulate   1970       4
5                               Cairo Police Headquarters   1970       1
6       Juan Maria de Lucah/Chief of Directorate of in...   1970       3
7                                         Edes Substation   1970       1
8       R.O.T.C. offices at University of Wisconsin, M...   1970       1
9       Selective Service Headquarters in Madison Wisc...   1970       1
10                                Badger Army ammo depot.   1970       1
11               Army Recruiting Station, Denver Colorado   1970       1
12                                  Flight 802 Boeing 707   1970       8
13        Packard Properties building of Detroit Michigan   1970       1
14                                          Baker's Store   1970       1
15                     Jurists Ball (Palais au Frankturm)   1970       9
16                                                Soldier   1970      11
17                              James Madison High School   1970       1
18      General Electric factory in Rio Grande Puerto ...   1970       1
19           Fuson's Department Store, Seattle Washington   1970       1
20                            Champaign Police Department   1970       1
21                        Secondary School, Chemistry Lab   1970       3
22      Liberal Arts and Garrand buildings, Seattle Un...   1970       1
23      Air Force R.O.T.C. at the University of Washin...   1970       1
24                                           Headquarters   1970       1
25                              Bodyguard, British Consul   1970       2
26                                              JUSMAG HQ   1970       5
27                                Leon Jacobo Taurel, son   1970       3
28                                                    NaN   1970       1
29      Building used as a meeting place for African A...   1970       1
...                                                   ...    ...     ...
181661                                             Masjid   2017       6
181662                                           Soldiers   2017       5
181663                       Koothuparamba Police Station   2017       6
181664                                          Civilians   2017       8
181665                             Road Construction Site   2017       6
181666                                             Convoy   2017      11
181667                                               Base   2017      10
181668                                             Patrol   2017      10
181669                                               Cafe   2017      10
181670                                            Station   2017      10
181671                                          Civilians   2017      10
181672                                               Camp   2017       6
181673     Funeral Procession of Former District Governor   2017       6
181674                                             Troops   2017      10
181675                                   Burundian Convoy   2017      11
181676                                            Vehicle   2017       6
181677                                               Town   2017       5
181678                                              Store   2017       5
181679                                               Post   2017      10
181680                                     Ethiopian Base   2017      11
181681                                             Patrol   2017       5
181682                                     Migrant Center   2017       8
181683                                    House of Member   2017       6
181684  Personal Security Officer of Council Member Ih...   2017       6
181685                                       Jewelry Shop   2017       6
181686                                         Checkpoint   2017      11
181687                                   Hmeymim Air Base   2017      10
181688                                             Houses   2017       5
181689                                             Office   2017       6
181690                                            Unknown   2017       5

[181691 rows x 7 columns]

In [13]:
print(gtd_filtered_df.isna().sum())

country         0
city          434
latitude     4556
longitude    4557
target1       636
iyear           0
region          0
dtype: int64

## GTD Removed NaN

In [0]:
# clean NaN
gtd_filtered_df = gtd_filtered_df.fillna(gtd_filtered_df.mean())
attributes_NaN = ['country', 'city', 'target']
gtd_filtered_df = remove_NaN(gtd_filtered_df, attributes_NaN)
# mode =  gtd_filtered_df['country'].mode()[0]
# gtd_filtered_df['country'] = gtd_filtered_df.groupby('country')['country'].apply(lambda x: x.fillna(x.value_counts().idxmax() if x.value_counts().max() >=1 else mode , inplace = False))
# gtd_filtered_df['country']= gtd_filtered_df['country'].fillna(gtd_filtered_df['country'].value_counts().idxmax())

# mode =  gtd_filtered_df['city'].mode()[0]
# gtd_filtered_df['city'] = gtd_filtered_df.groupby('city')['city'].apply(lambda x: x.fillna(x.value_counts().idxmax() if x.value_counts().max() >=1 else mode , inplace = False))
# gtd_filtered_df['city']= gtd_filtered_df['city'].fillna(gtd_filtered_df['city'].value_counts().idxmax())

# mode =  gtd_filtered_df['target1'].mode()[0]
# gtd_filtered_df['target1'] = gtd_filtered_df.groupby('target1')['target1'].apply(lambda x: x.fillna(x.value_counts().idxmax() if x.value_counts().max() >=1 else mode , inplace = False))
# gtd_filtered_df['target1']= gtd_filtered_df['target1'].fillna(gtd_filtered_df['target1'].value_counts().idxmax())
# print(gtd_filtered_df.isna().sum())
print(gtd_filtered_df)

## **GECON Data Frame**

In [27]:
gecon_df = pd.read_csv(os.path.join(datadir, 'Gecon40_post_final_kh.csv'),encoding='latin-1')
print(gecon_df.columns.values)

['AREA' 'COUNTRY' 'D1' 'D2' 'D3' 'D4' 'DIS_LAKE' 'DIS_MAJOR_RIVER'
 'DIS_OCEAN' 'DIS_RIVER' 'ELEV_SRTM' 'ELEV_SRTM_PRED' 'LAT' 'LONGITUDE'
 'LONG_NAME' 'MATTVEG' 'MER1990_40' 'MER1995_40' 'MER2000_40' 'MER2005_40'
 'NEWCOUNTRYID' 'POPGPW_1990_40' 'POPGPW_1995_40' 'POPGPW_2000_40'
 'POPGPW_2005_40' 'PPP1990_40' 'PPP1995_40' 'PPP2000_40' 'PPP2005_40'
 'PREC_NEW' 'PRECMAX' 'PRECMIN' 'PRECSD' 'PRECAVNEW80_08' 'PRECSDNEW80_08'
 'QUALITY' 'RIG_xi0710' 'ROUGH' 'SOIL_UNIT' 'TEMP_NEW' 'TEMPAV_8008'
 'TEMPMAX' 'TEMPMIN' 'TEMPSD' 'TEMPSD80_08' 'QUALITY_REVISION'
 'DATE OF LAST' 'Unnamed: 47' 'Unnamed: 48' 'Unnamed: 49' 'Unnamed: 50'
 'Unnamed: 51' 'Unnamed: 52' 'Unnamed: 53' 'Unnamed: 54' 'Unnamed: 55']

/usr/local/lib/python3.6/dist-packages/IPython/core/interactiveshell.py:2718: DtypeWarning: Columns (16,19,25,28) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [33]:
gecon_filtered_df = gecon_df[['AREA', 'COUNTRY', 'DIS_LAKE','DIS_MAJOR_RIVER']]

print(gecon_filtered_df.isna().sum())

# print(gecon_filtered_df)

AREA                 0
COUNTRY              0
DIS_LAKE           437
DIS_MAJOR_RIVER    422
dtype: int64

In [32]:
# clean NaN
# gecon_filtered_df = gecon_filtered_df.fillna(gecon_filtered_df.mean())
gecon_filtered_df = remove_NaN(gecon_filtered_df, [])

print(gecon_filtered_df.isna().sum())

print(gecon_filtered_df)

AREA               0
COUNTRY            0
DIS_LAKE           0
DIS_MAJOR_RIVER    0
dtype: int64
           AREA             COUNTRY      DIS_LAKE  DIS_MAJOR_RIVER
0             0  Bosnia&Herzegovina  1.574901e+06     2.868236e+06
1      10.47769              Brazil  1.566020e+05     1.817542e+05
2      33.62301              Brazil  5.800724e+05     1.091993e+05
3      12.15342              Brazil  6.306095e+05     6.835435e+05
4      36.46025              Brazil  6.150355e+05     6.712459e+05
5             0              Brazil  5.229193e+05     1.508678e+06
6             0              Brazil  9.632830e+05     4.414826e+05
7      12.35509              Brazil  3.415250e+05     4.612700e+05
8      12.34964              Brazil  4.866209e+05     5.117214e+05
9             0            Cameroon  4.460036e+05     1.007535e+06
10     361.9061            Cameroon  4.701400e+03     2.082788e+06
11     7773.164              Canada  1.163476e+05     7.318287e+05
12     7773.164              Canada  1.537654e+05     7.811711e+05
13     7773.164              Canada  2.057712e+05     8.332942e+05
14     7773.164              Canada  2.638580e+05     8.877025e+05
15     7605.392              Canada  2.097864e+05     6.459352e+05
16     7605.392              Canada  1.453123e+05     6.591201e+05
17     7435.375              Canada  2.158604e+05     7.561578e+05
18     7435.375              Canada  1.549459e+05     7.672402e+05
19     7263.159              Canada  2.657430e+05     8.666708e+05
20     7263.159              Canada  2.200254e+05     8.761719e+05
21     7088.785              Canada  3.454655e+05     9.773821e+05
22     7088.785              Canada  3.123668e+05     9.856523e+05
23     7088.785              Canada  2.818414e+05     1.035938e+06
24     7088.785              Canada  2.886441e+05     1.060515e+06
25     6912.295              Canada  6.950512e+05     1.114719e+06
26     6912.295              Canada  6.445496e+05     1.101697e+06
27     6912.295              Canada  5.962349e+05     1.092485e+06
28     6912.295              Canada  5.506896e+05     1.087183e+06
29     6912.295              Canada  5.086645e+05     1.085272e+06
...         ...                 ...           ...              ...
27415  10290.77            Zimbabwe  4.196423e+05     2.480429e+06
27416  104.6519            Zimbabwe  4.619081e+05     2.547747e+06
27417  4294.411            Zimbabwe  1.354662e+05     1.882551e+06
27418  11572.68            Zimbabwe  7.860400e+04     1.948524e+06
27419  11701.39            Zimbabwe  7.190090e+04     2.020888e+06
27420  11701.39            Zimbabwe  1.472811e+05     2.096063e+06
27421  11701.39            Zimbabwe  2.008541e+05     2.173525e+06
27422  11701.39            Zimbabwe  2.551614e+05     2.253039e+06
27423  11701.39            Zimbabwe  2.938391e+05     2.334394e+06
27424  10648.27            Zimbabwe  3.043563e+05     2.412363e+06
27425  58.50695            Zimbabwe  3.058208e+05     2.453700e+06
27426  1094.716            Zimbabwe  1.514862e+05     1.834281e+06
27427  400.2186            Zimbabwe  7.061370e+04     1.893902e+06
27428  6791.945            Zimbabwe  1.707290e+04     1.966751e+06
27429  11771.13            Zimbabwe  6.551430e+04     2.023682e+06
27430  11771.13            Zimbabwe  1.042600e+05     2.103849e+06
27431  11771.13            Zimbabwe  1.825746e+05     2.185937e+06
27432  11771.13            Zimbabwe  1.844416e+05     2.269739e+06
27433   11500.4            Zimbabwe  1.984693e+05     2.354115e+06
27434  82.39795            Zimbabwe  2.174465e+05     2.403153e+06
27435  153.8834            Zimbabwe  4.154400e+03     1.939731e+06
27436    5125.5            Zimbabwe  1.161500e+03     1.981408e+06
27437  11837.18            Zimbabwe  5.277370e+04     2.037811e+06
27438  11801.67            Zimbabwe  9.740300e+04     2.122528e+06
27439  9943.232            Zimbabwe  8.414140e+04     2.209140e+06
27440  5101.825            Zimbabwe  1.160677e+05     2.302936e+06
27441  71.39693            Zimbabwe  6.248740e+04     1.959424e+06
27442  3474.651            Zimbabwe  1.027455e+05     2.004458e+06
27443  1844.421            Zimbabwe  6.347540e+04     2.056067e+06
27444  11.89949            Zimbabwe  1.484430e+04     2.148991e+06

[27445 rows x 4 columns]

## **GeoEPR Data Frame**

In [0]:
geo_df = pd.read_csv(os.path.join(datadir, 'GeoEPR-2018.1.csv'),encoding='latin-1')
# print(geo_df.columns.values)
# # statename, group
# print(geo_df)

In [10]:
geo_filtered_df = geo_df[['statename','group','type']]
print(geo_filtered_df)
print(geo_filtered_df.isna().sum())

                statename                    group              type
0           United States                   Whites         Statewide
1           United States        African Americans         Statewide
2           United States         American Indians  Regionally based
3           United States                   Whites         Statewide
4           United States         American Indians  Regionally based
5           United States        African Americans         Statewide
6           United States                   Whites         Statewide
7           United States         American Indians  Regionally based
8           United States        African Americans         Statewide
9           United States          Asian Americans             Urban
10          United States           Arab Americans             Urban
11          United States                  Latinos  Regional & urban
12                 Canada       Aboriginal peoples  Regionally based
13                 Canada         English speakers  Regional & urban
14                 Canada          French speakers  Regional & urban
15                 Canada       Aboriginal peoples  Regionally based
16                 Canada         English speakers  Regional & urban
17                 Canada          French speakers  Regional & urban
18                 Canada       Aboriginal peoples  Regionally based
19                 Canada         English speakers  Regional & urban
20                 Canada          French speakers  Regional & urban
21                Bahamas   Afro-Bahamians (Black)         Aggregate
22                Bahamas                   Whites         Aggregate
23                   Cuba                   Whites         Statewide
24                   Cuba                   Blacks         Statewide
25    Trinidad and Tobago                   Blacks         Statewide
26    Trinidad and Tobago             East Indians  Regional & urban
27                 Mexico                 Mestizos         Statewide
28                 Mexico  Other indigenous groups  Regionally based
29                 Mexico                     Maya  Regionally based
...                   ...                      ...               ...
1440            Indonesia                Sundanese  Regionally based
1441            Indonesia                   Bataks  Regionally based
1442            Indonesia                 Acehnese  Regionally based
1443            Indonesia                   Madura  Regionally based
1444            Indonesia            Chinese (Han)  Regionally based
1445            Indonesia                Amboinese  Regionally based
1446            Indonesia                  Papuans         Aggregate
1447            Indonesia                    Malay  Regionally based
1448            Indonesia                    Dayak  Regionally based
1449            Indonesia                 Javanese  Regionally based
1450            Indonesia             Minangkabaus  Regional & urban
1451            Indonesia                Sundanese  Regionally based
1452            Indonesia                   Bataks  Regionally based
1453            Indonesia                 Acehnese  Regionally based
1454            Indonesia                   Madura  Regionally based
1455            Indonesia            Chinese (Han)  Regionally based
1456            Indonesia                Amboinese  Regionally based
1457            Indonesia    Makassarese and Bugis  Regionally based
1458            Indonesia                 Balinese  Regionally based
1459            Australia               Aborigines         Dispersed
1460            Australia                   Asians             Urban
1461            Australia                   Whites  Regional & urban
1462     Papua New Guinea       Papua New Guineans  Regionally based
1463     Papua New Guinea          Bougainvilleans  Regionally based
1464          New Zealand                    Maori         Dispersed
1465          New Zealand           New Zealanders         Statewide
1466          New Zealand        Pacific Islanders             Urban
1467          New Zealand                   Asians             Urban
1468                 Fiji                  Fijians         Statewide
1469                 Fiji                  Indians         Statewide

[1470 rows x 3 columns]
statename    0
group        0
type         0
dtype: int64

In [26]:
# clean NaN
# geo_filtered_df = geo_filtered_df.fillna(geo_filtered_df.mean())
attributes_NaN = ['statename', 'group', 'type']
geo_filtered_df = remove_NaN(geo_filtered_df, attributes_NaN)
# mode =  geo_filtered_df['statename'].mode()[0]
# geo_filtered_df['statename'] = geo_filtered_df.groupby('statename')['statename'].apply(lambda x: x.fillna(x.value_counts().idxmax() if x.value_counts().max() >=1 else mode , inplace = False))
# geo_filtered_df['statename']= geo_filtered_df['statename'].fillna(geo_filtered_df['statename'].value_counts().idxmax())

# mode =  geo_filtered_df['group'].mode()[0]
# geo_filtered_df['group'] = geo_filtered_df.groupby('group')['group'].apply(lambda x: x.fillna(x.value_counts().idxmax() if x.value_counts().max() >=1 else mode , inplace = False))
# geo_filtered_df['group']= geo_filtered_df['group'].fillna(geo_filtered_df['group'].value_counts().idxmax())

# mode =  geo_filtered_df['type'].mode()[0]
# geo_filtered_df['type'] = geo_filtered_df.groupby('type')['type'].apply(lambda x: x.fillna(x.value_counts().idxmax() if x.value_counts().max() >=1 else mode , inplace = False))
# geo_filtered_df['type']= geo_filtered_df['type'].fillna(geo_filtered_df['type'].value_counts().idxmax())

print(geo_filtered_df)

                statename                    group              type
0           United States                   Whites         Statewide
1           United States        African Americans         Statewide
2           United States         American Indians  Regionally based
3           United States                   Whites         Statewide
4           United States         American Indians  Regionally based
5           United States        African Americans         Statewide
6           United States                   Whites         Statewide
7           United States         American Indians  Regionally based
8           United States        African Americans         Statewide
9           United States          Asian Americans             Urban
10          United States           Arab Americans             Urban
11          United States                  Latinos  Regional & urban
12                 Canada       Aboriginal peoples  Regionally based
13                 Canada         English speakers  Regional & urban
14                 Canada          French speakers  Regional & urban
15                 Canada       Aboriginal peoples  Regionally based
16                 Canada         English speakers  Regional & urban
17                 Canada          French speakers  Regional & urban
18                 Canada       Aboriginal peoples  Regionally based
19                 Canada         English speakers  Regional & urban
20                 Canada          French speakers  Regional & urban
21                Bahamas   Afro-Bahamians (Black)         Aggregate
22                Bahamas                   Whites         Aggregate
23                   Cuba                   Whites         Statewide
24                   Cuba                   Blacks         Statewide
25    Trinidad and Tobago                   Blacks         Statewide
26    Trinidad and Tobago             East Indians  Regional & urban
27                 Mexico                 Mestizos         Statewide
28                 Mexico  Other indigenous groups  Regionally based
29                 Mexico                     Maya  Regionally based
...                   ...                      ...               ...
1440            Indonesia                Sundanese  Regionally based
1441            Indonesia                   Bataks  Regionally based
1442            Indonesia                 Acehnese  Regionally based
1443            Indonesia                   Madura  Regionally based
1444            Indonesia            Chinese (Han)  Regionally based
1445            Indonesia                Amboinese  Regionally based
1446            Indonesia                  Papuans         Aggregate
1447            Indonesia                    Malay  Regionally based
1448            Indonesia                    Dayak  Regionally based
1449            Indonesia                 Javanese  Regionally based
1450            Indonesia             Minangkabaus  Regional & urban
1451            Indonesia                Sundanese  Regionally based
1452            Indonesia                   Bataks  Regionally based
1453            Indonesia                 Acehnese  Regionally based
1454            Indonesia                   Madura  Regionally based
1455            Indonesia            Chinese (Han)  Regionally based
1456            Indonesia                Amboinese  Regionally based
1457            Indonesia    Makassarese and Bugis  Regionally based
1458            Indonesia                 Balinese  Regionally based
1459            Australia               Aborigines         Dispersed
1460            Australia                   Asians             Urban
1461            Australia                   Whites  Regional & urban
1462     Papua New Guinea       Papua New Guineans  Regionally based
1463     Papua New Guinea          Bougainvilleans  Regionally based
1464          New Zealand                    Maori         Dispersed
1465          New Zealand           New Zealanders         Statewide
1466          New Zealand        Pacific Islanders             Urban
1467          New Zealand                   Asians             Urban
1468                 Fiji                  Fijians         Statewide
1469                 Fiji                  Indians         Statewide

[1470 rows x 3 columns]

## **Happiness World Report Data Frame**

In [0]:
happy_df = pd.read_csv(os.path.join(datadir, 'Happiness2017.csv'),encoding='latin-1')

In [24]:
happy_filtered_df = happy_df[['Country','Happiness.Rank','Happiness.Score']]
print(happy_filtered_df)

                      Country  Happiness.Rank  Happiness.Score
0                      Norway               1            7.537
1                     Denmark               2            7.522
2                     Iceland               3            7.504
3                 Switzerland               4            7.494
4                     Finland               5            7.469
5                 Netherlands               6            7.377
6                      Canada               7            7.316
7                 New Zealand               8            7.314
8                      Sweden               9            7.284
9                   Australia              10            7.284
10                     Israel              11            7.213
11                 Costa Rica              12            7.079
12                    Austria              13            7.006
13              United States              14            6.993
14                    Ireland              15            6.977
15                    Germany              16            6.951
16                    Belgium              17            6.891
17                 Luxembourg              18            6.863
18             United Kingdom              19            6.714
19                      Chile              20            6.652
20       United Arab Emirates              21            6.648
21                     Brazil              22            6.635
22             Czech Republic              23            6.609
23                  Argentina              24            6.599
24                     Mexico              25            6.578
25                  Singapore              26            6.572
26                      Malta              27            6.527
27                    Uruguay              28            6.454
28                  Guatemala              29            6.454
29                     Panama              30            6.452
..                        ...             ...              ...
125          Congo (Kinshasa)             126            4.280
126                      Mali             127            4.190
127               Ivory Coast             128            4.180
128                  Cambodia             129            4.168
129                     Sudan             130            4.139
130                     Ghana             131            4.120
131                   Ukraine             132            4.096
132                    Uganda             133            4.081
133              Burkina Faso             134            4.032
134                     Niger             135            4.028
135                    Malawi             136            3.970
136                      Chad             137            3.936
137                  Zimbabwe             138            3.875
138                   Lesotho             139            3.808
139                    Angola             140            3.795
140               Afghanistan             141            3.794
141                  Botswana             142            3.766
142                     Benin             143            3.657
143                Madagascar             144            3.644
144                     Haiti             145            3.603
145                     Yemen             146            3.593
146               South Sudan             147            3.591
147                   Liberia             148            3.533
148                    Guinea             149            3.507
149                      Togo             150            3.495
150                    Rwanda             151            3.471
151                     Syria             152            3.462
152                  Tanzania             153            3.349
153                   Burundi             154            2.905
154  Central African Republic             155            2.693

[155 rows x 3 columns]

In [25]:
# clean NaN
happy_filtered_df = happy_filtered_df.fillna(happy_filtered_df.mean())

# mode =  happy_filtered_df['Country'].mode()[0]
# happy_filtered_df['Country'] = happy_filtered_df.groupby('Country')['Country'].apply(lambda x: x.fillna(x.value_counts().idxmax() if x.value_counts().max() >=1 else mode , inplace = False))
# happy_filtered_df['Country']= happy_filtered_df['Country'].fillna(happy_filtered_df['Country'].value_counts().idxmax())
happy_filtered_df = remove_NaN(happy_filtered_df, ['Country'])
print(happy_filtered_df)

                      Country  Happiness.Rank  Happiness.Score
0                      Norway               1            7.537
1                     Denmark               2            7.522
2                     Iceland               3            7.504
3                 Switzerland               4            7.494
4                     Finland               5            7.469
5                 Netherlands               6            7.377
6                      Canada               7            7.316
7                 New Zealand               8            7.314
8                      Sweden               9            7.284
9                   Australia              10            7.284
10                     Israel              11            7.213
11                 Costa Rica              12            7.079
12                    Austria              13            7.006
13              United States              14            6.993
14                    Ireland              15            6.977
15                    Germany              16            6.951
16                    Belgium              17            6.891
17                 Luxembourg              18            6.863
18             United Kingdom              19            6.714
19                      Chile              20            6.652
20       United Arab Emirates              21            6.648
21                     Brazil              22            6.635
22             Czech Republic              23            6.609
23                  Argentina              24            6.599
24                     Mexico              25            6.578
25                  Singapore              26            6.572
26                      Malta              27            6.527
27                    Uruguay              28            6.454
28                  Guatemala              29            6.454
29                     Panama              30            6.452
..                        ...             ...              ...
125          Congo (Kinshasa)             126            4.280
126                      Mali             127            4.190
127               Ivory Coast             128            4.180
128                  Cambodia             129            4.168
129                     Sudan             130            4.139
130                     Ghana             131            4.120
131                   Ukraine             132            4.096
132                    Uganda             133            4.081
133              Burkina Faso             134            4.032
134                     Niger             135            4.028
135                    Malawi             136            3.970
136                      Chad             137            3.936
137                  Zimbabwe             138            3.875
138                   Lesotho             139            3.808
139                    Angola             140            3.795
140               Afghanistan             141            3.794
141                  Botswana             142            3.766
142                     Benin             143            3.657
143                Madagascar             144            3.644
144                     Haiti             145            3.603
145                     Yemen             146            3.593
146               South Sudan             147            3.591
147                   Liberia             148            3.533
148                    Guinea             149            3.507
149                      Togo             150            3.495
150                    Rwanda             151            3.471
151                     Syria             152            3.462
152                  Tanzania             153            3.349
153                   Burundi             154            2.905
154  Central African Republic             155            2.693

[155 rows x 3 columns]

In [0]:
# print(happy_df.columns.values)
# print(happy_df['Country'])
# print(gtd_df.shape)

In [0]:
# import sys
# import math

# count1 = 0
# count2 = 0
# count3 = 0
# print(gtd_filtered_df.isna().sum())

# if happy_filtered_df["Country"] == "NaN":
#   print("fady")
# print(sys.getsizeof(happy_filtered_df["Country"][3]))

# for i in range(sys.getsizeof(happy_filtered_df["Country"])):
#   if happy_filtered_df["Country"][i] == "NaN":
#     count1 += 1
    
# for i in range(sys.getsizeof(happy_filtered_df["Happiness.Rank"])):
#   if math.isnan(happy_filtered_df["Happiness.Rank"][i]) :
#     count2 += 1
    
# for i in range(sys.getsizeof(happy_filtered_df["Happiness.Score"])):
#   if math.isnan(happy_filtered_df["Happiness.Score"][i]):
#     count3 += 1
  
# print(count1)
# print(count2)
# print(count3)

In [0]:
d = {'one': pd.Series([1., 3.], index=['a', 'c']), 'two': pd.Series([1., 2., 3., 4.], index=['a', 'b', 'c', 'd']), 'three': pd.Series(["A", "B", "A"], index=['a', 'c', 'd'])}
df = pd.DataFrame(d)
print(df)
# print(df.isna().sum())
df = df.fillna(df.mean())
mode =  df['three'].mode()[0]
df['three'] = df.groupby('three')['three'].apply(lambda x: x.fillna(x.value_counts().idxmax() if x.value_counts().max() >=1 else mode , inplace = False))
df['three']= df['three'].fillna(df['three'].value_counts().idxmax())
print(df)