<a href="https://colab.research.google.com/github/FNSY96/TerrorismEventsPrediction/blob/master/Graduation.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **Python Imports**
PLEASE PUT ALL LIBRARY IMPORTS IN THIS CELL **ONLY**

In [0]:
import pandas as pd
import csv
import glob
import os
from pandas import ExcelWriter
from pandas import ExcelFile
import io
print("imports run")

imports run

In [0]:
!pip3 install pandas

Requirement already satisfied: pandas in /usr/local/lib/python3.6/dist-packages (0.22.0)
Requirement already satisfied: python-dateutil>=2 in /usr/local/lib/python3.6/dist-packages (from pandas) (2.5.3)
Requirement already satisfied: pytz>=2011k in /usr/local/lib/python3.6/dist-packages (from pandas) (2018.9)
Requirement already satisfied: numpy>=1.9.0 in /usr/local/lib/python3.6/dist-packages (from pandas) (1.14.6)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.6/dist-packages (from python-dateutil>=2->pandas) (1.11.0)

# Data Set Imports

In [0]:
!pip install -U -q PyDrive
from google.colab import drive
from pydrive.auth import GoogleAuth
from pydrive.drive import GoogleDrive
from google.colab import auth
from oauth2client.client import GoogleCredentials
auth.authenticate_user()
gauth = GoogleAuth()
gauth.credentials = GoogleCredentials.get_application_default()

In [0]:
# drive = GoogleDrive(gauth)
drive.mount("/content/drive", force_remount=True)
datadir  = 'drive/My Drive/GraduationProject/Data'

Mounted at /content/drive

### **GeoEPR**

In [0]:
# fid = drive.ListFile({'q':"title='GeoEPR-2018.1.csv'"}).GetList()[0]['id']
# f = drive.CreateFile({'id': fid})
# f.GetContentFile('GeoEPR-2018.1.csv')
# f.Upload()

### **Gecon40_post_final**

In [0]:
# fid = drive.ListFile({'q':"title='Gecon40_post_final_kh.csv'"}).GetList()[0]['id']
# f = drive.CreateFile({'id': fid})
# f.GetContentFile('Gecon40_post_final.csv')
# f.Upload()

###**GTD**

In [0]:
# !ls drive/'My Drive'/GraduationProject/Data/gtd.csv

# Pandas Data Frames
Useful link : https://youtu.be/2AFGPdNn4FM

## **GTD Data Frame**

In [0]:
gtd_df = pd.read_csv(os.path.join(datadir, 'gtd.csv'),encoding='latin-1')
print(gtd_df.columns.values)

/usr/local/lib/python3.6/dist-packages/IPython/core/interactiveshell.py:2718: DtypeWarning: Columns (4,6,31,33,61,62,63,76,79,90,92,94,96,114,115,121) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

['eventid' 'iyear' 'imonth' 'iday' 'approxdate' 'extended' 'resolution'
 'country' 'country_txt' 'region' 'region_txt' 'provstate' 'city'
 'latitude' 'longitude' 'specificity' 'vicinity' 'location' 'summary'
 'crit1' 'crit2' 'crit3' 'doubtterr' 'alternative' 'alternative_txt'
 'multiple' 'success' 'suicide' 'attacktype1' 'attacktype1_txt'
 'attacktype2' 'attacktype2_txt' 'attacktype3' 'attacktype3_txt'
 'targtype1' 'targtype1_txt' 'targsubtype1' 'targsubtype1_txt' 'corp1'
 'target1' 'natlty1' 'natlty1_txt' 'targtype2' 'targtype2_txt'
 'targsubtype2' 'targsubtype2_txt' 'corp2' 'target2' 'natlty2'
 'natlty2_txt' 'targtype3' 'targtype3_txt' 'targsubtype3'
 'targsubtype3_txt' 'corp3' 'target3' 'natlty3' 'natlty3_txt' 'gname'
 'gsubname' 'gname2' 'gsubname2' 'gname3' 'gsubname3' 'motive'
 'guncertain1' 'guncertain2' 'guncertain3' 'individual' 'nperps'
 'nperpcap' 'claimed' 'claimmode' 'claimmode_txt' 'claim2' 'claimmode2'
 'claimmode2_txt' 'claim3' 'claimmode3' 'claimmode3_txt' 'compclaim'
 'weaptype1' 'weaptype1_txt' 'weapsubtype1' 'weapsubtype1_txt' 'weaptype2'
 'weaptype2_txt' 'weapsubtype2' 'weapsubtype2_txt' 'weaptype3'
 'weaptype3_txt' 'weapsubtype3' 'weapsubtype3_txt' 'weaptype4'
 'weaptype4_txt' 'weapsubtype4' 'weapsubtype4_txt' 'weapdetail' 'nkill'
 'nkillus' 'nkillter' 'nwound' 'nwoundus' 'nwoundte' 'property'
 'propextent' 'propextent_txt' 'propvalue' 'propcomment' 'ishostkid'
 'nhostkid' 'nhostkidus' 'nhours' 'ndays' 'divert' 'kidhijcountry'
 'ransom' 'ransomamt' 'ransomamtus' 'ransompaid' 'ransompaidus'
 'ransomnote' 'hostkidoutcome' 'hostkidoutcome_txt' 'nreleased' 'addnotes'
 'scite1' 'scite2' 'scite3' 'dbsource' 'INT_LOG' 'INT_IDEO' 'INT_MISC'
 'INT_ANY' 'related']

In [0]:
gtd_filtered_df = gtd_df[['country','city', 'target1', 'iyear', 'region']]
print(gtd_filtered_df)

        country                    city  \
0            58           Santo Domingo
1           130             Mexico city
2           160                 Unknown
3            78                  Athens
4           101                 Fukouka
5           217                   Cairo
6           218              Montevideo
7           217                 Oakland
8           217                 Madison
9           217                 Madison
10          217                 Baraboo
11          217                  Denver
12           98                    Rome
13          217                 Detroit
14          217             Rio Piedras
15          499                  Berlin
16           65                 Unknown
17          217           New York City
18          217              Rio Grande
19          217                 Seattle
20          217               Champaign
21          218              Montevideo
22          217                 Seattle
23          217                 Seattle
24          217             Jersey City
25           83          Guatemala City
26          160             Quezon City
27          222                 Caracas
28          217        South Sioux City
29          217              West Point
...         ...                     ...
181661       92               Talacheru
181662      160               Tarragona
181663       92           Koothuparamba
181664      603                 Belfast
181665       92                Toylanka
181666      147        Konduga district
181667      200                 Harasta
181668       95                 Shurjah
181669       95                  Kirkuk
181670       95            Hawd al-Waqf
181671       95              Farhatiyah
181672       92               Lethapora
181673        4               Jalalabad
181674       95                    Baaj
181675      182               Mogadishu
181676        4  Mohammad Agha district
181677      160                 Limpogo
181678      160          Pikit district
181679       95              Muqdadiyah
181680      182                   Wajid
181681      160           Shariff Aguak
181682       98               Spinetoli
181683        4       Kohistan district
181684       92                 Hungrum
181685        4                 Maymana
181686      182           Ceelka Geelow
181687      200                  Jableh
181688      160                Kubentog
181689       92                  Imphal
181690      160           Cotabato City

                                                  target1  iyear  region
0                                            Julio Guzman   1970       2
1                                 Nadine Chaval, daughter   1970       1
2                                                Employee   1970       5
3                                            U.S. Embassy   1970       8
4                                          U.S. Consulate   1970       4
5                               Cairo Police Headquarters   1970       1
6       Juan Maria de Lucah/Chief of Directorate of in...   1970       3
7                                         Edes Substation   1970       1
8       R.O.T.C. offices at University of Wisconsin, M...   1970       1
9       Selective Service Headquarters in Madison Wisc...   1970       1
10                                Badger Army ammo depot.   1970       1
11               Army Recruiting Station, Denver Colorado   1970       1
12                                  Flight 802 Boeing 707   1970       8
13        Packard Properties building of Detroit Michigan   1970       1
14                                          Baker's Store   1970       1
15                     Jurists Ball (Palais au Frankturm)   1970       9
16                                                Soldier   1970      11
17                              James Madison High School   1970       1
18      General Electric factory in Rio Grande Puerto ...   1970       1
19           Fuson's Department Store, Seattle Washington   1970       1
20                            Champaign Police Department   1970       1
21                        Secondary School, Chemistry Lab   1970       3
22      Liberal Arts and Garrand buildings, Seattle Un...   1970       1
23      Air Force R.O.T.C. at the University of Washin...   1970       1
24                                           Headquarters   1970       1
25                              Bodyguard, British Consul   1970       2
26                                              JUSMAG HQ   1970       5
27                                Leon Jacobo Taurel, son   1970       3
28                                                    NaN   1970       1
29      Building used as a meeting place for African A...   1970       1
...                                                   ...    ...     ...
181661                                             Masjid   2017       6
181662                                           Soldiers   2017       5
181663                       Koothuparamba Police Station   2017       6
181664                                          Civilians   2017       8
181665                             Road Construction Site   2017       6
181666                                             Convoy   2017      11
181667                                               Base   2017      10
181668                                             Patrol   2017      10
181669                                               Cafe   2017      10
181670                                            Station   2017      10
181671                                          Civilians   2017      10
181672                                               Camp   2017       6
181673     Funeral Procession of Former District Governor   2017       6
181674                                             Troops   2017      10
181675                                   Burundian Convoy   2017      11
181676                                            Vehicle   2017       6
181677                                               Town   2017       5
181678                                              Store   2017       5
181679                                               Post   2017      10
181680                                     Ethiopian Base   2017      11
181681                                             Patrol   2017       5
181682                                     Migrant Center   2017       8
181683                                    House of Member   2017       6
181684  Personal Security Officer of Council Member Ih...   2017       6
181685                                       Jewelry Shop   2017       6
181686                                         Checkpoint   2017      11
181687                                   Hmeymim Air Base   2017      10
181688                                             Houses   2017       5
181689                                             Office   2017       6
181690                                            Unknown   2017       5

[181691 rows x 5 columns]

## **GECON Data Frame**

In [0]:
gecon_df = pd.read_csv(os.path.join(datadir, 'Gecon40_post_final_kh.csv'),encoding='latin-1')
# print(gecon_df.columns.values)

/usr/local/lib/python3.6/dist-packages/IPython/core/interactiveshell.py:2718: DtypeWarning: Columns (16,19,25,28) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [0]:
gecon_filtered_df = gecon_df[['DIS_LAKE','DIS_MAJOR_RIVER']]
print(gecon_filtered_df)

       DIS_LAKE  DIS_MAJOR_RIVER
0           NaN              NaN
1      156602.0         181754.2
2      580072.4         109199.3
3      630609.5         683543.5
4      615035.5         671245.9
5      522919.3        1508678.0
6      963283.0         441482.6
7      341525.0         461270.0
8      486620.9         511721.4
9      446003.6        1007535.0
10       4701.4        2082788.0
11     116347.6         731828.7
12     153765.4         781171.1
13     205771.2         833294.2
14     263858.0         887702.5
15     209786.4         645935.2
16     145312.3         659120.1
17     215860.4         756157.8
18     154945.9         767240.2
19     265743.0         866670.8
20     220025.4         876171.9
21     345465.5         977382.1
22     312366.8         985652.3
23     281841.4        1035938.0
24     288644.1        1060515.0
25     695051.2        1114719.0
26     644549.6        1101697.0
27     596234.9        1092485.0
28     550689.6        1087183.0
29     508664.5        1085272.0
...         ...              ...
27415  419642.3        2480429.0
27416  461908.1        2547747.0
27417  135466.2        1882551.0
27418   78604.0        1948524.0
27419   71900.9        2020888.0
27420  147281.1        2096063.0
27421  200854.1        2173525.0
27422  255161.4        2253039.0
27423  293839.1        2334394.0
27424  304356.3        2412363.0
27425  305820.8        2453700.0
27426  151486.2        1834281.0
27427   70613.7        1893902.0
27428   17072.9        1966751.0
27429   65514.3        2023682.0
27430  104260.0        2103849.0
27431  182574.6        2185937.0
27432  184441.6        2269739.0
27433  198469.3        2354115.0
27434  217446.5        2403153.0
27435    4154.4        1939731.0
27436    1161.5        1981408.0
27437   52773.7        2037811.0
27438   97403.0        2122528.0
27439   84141.4        2209140.0
27440  116067.7        2302936.0
27441   62487.4        1959424.0
27442  102745.5        2004458.0
27443   63475.4        2056067.0
27444   14844.3        2148991.0

[27445 rows x 2 columns]

## **GeoEPR Data Frame**

In [0]:
geo_df = pd.read_csv(os.path.join(datadir, 'GeoEPR-2018.1.csv'),encoding='latin-1')
# print(geo_df.columns.values)
# # statename, group
# print(geo_df)

In [0]:
geo_filtered_df = geo_df[['statename','group','type']]
print(geo_filtered_df)

                statename                    group              type
0           United States                   Whites         Statewide
1           United States        African Americans         Statewide
2           United States         American Indians  Regionally based
3           United States                   Whites         Statewide
4           United States         American Indians  Regionally based
5           United States        African Americans         Statewide
6           United States                   Whites         Statewide
7           United States         American Indians  Regionally based
8           United States        African Americans         Statewide
9           United States          Asian Americans             Urban
10          United States           Arab Americans             Urban
11          United States                  Latinos  Regional & urban
12                 Canada       Aboriginal peoples  Regionally based
13                 Canada         English speakers  Regional & urban
14                 Canada          French speakers  Regional & urban
15                 Canada       Aboriginal peoples  Regionally based
16                 Canada         English speakers  Regional & urban
17                 Canada          French speakers  Regional & urban
18                 Canada       Aboriginal peoples  Regionally based
19                 Canada         English speakers  Regional & urban
20                 Canada          French speakers  Regional & urban
21                Bahamas   Afro-Bahamians (Black)         Aggregate
22                Bahamas                   Whites         Aggregate
23                   Cuba                   Whites         Statewide
24                   Cuba                   Blacks         Statewide
25    Trinidad and Tobago                   Blacks         Statewide
26    Trinidad and Tobago             East Indians  Regional & urban
27                 Mexico                 Mestizos         Statewide
28                 Mexico  Other indigenous groups  Regionally based
29                 Mexico                     Maya  Regionally based
...                   ...                      ...               ...
1440            Indonesia                Sundanese  Regionally based
1441            Indonesia                   Bataks  Regionally based
1442            Indonesia                 Acehnese  Regionally based
1443            Indonesia                   Madura  Regionally based
1444            Indonesia            Chinese (Han)  Regionally based
1445            Indonesia                Amboinese  Regionally based
1446            Indonesia                  Papuans         Aggregate
1447            Indonesia                    Malay  Regionally based
1448            Indonesia                    Dayak  Regionally based
1449            Indonesia                 Javanese  Regionally based
1450            Indonesia             Minangkabaus  Regional & urban
1451            Indonesia                Sundanese  Regionally based
1452            Indonesia                   Bataks  Regionally based
1453            Indonesia                 Acehnese  Regionally based
1454            Indonesia                   Madura  Regionally based
1455            Indonesia            Chinese (Han)  Regionally based
1456            Indonesia                Amboinese  Regionally based
1457            Indonesia    Makassarese and Bugis  Regionally based
1458            Indonesia                 Balinese  Regionally based
1459            Australia               Aborigines         Dispersed
1460            Australia                   Asians             Urban
1461            Australia                   Whites  Regional & urban
1462     Papua New Guinea       Papua New Guineans  Regionally based
1463     Papua New Guinea          Bougainvilleans  Regionally based
1464          New Zealand                    Maori         Dispersed
1465          New Zealand           New Zealanders         Statewide
1466          New Zealand        Pacific Islanders             Urban
1467          New Zealand                   Asians             Urban
1468                 Fiji                  Fijians         Statewide
1469                 Fiji                  Indians         Statewide

[1470 rows x 3 columns]

## **Happiness World Report Data Frame**

In [0]:
happy_df = pd.read_csv(os.path.join(datadir, 'Happiness2017.csv'),encoding='latin-1')

In [0]:
happy_filtered_df = happy_df[['Country','Happiness.Rank','Happiness.Score']]
print(happy_filtered_df)

                      Country  Happiness.Rank  Happiness.Score
0                      Norway               1            7.537
1                     Denmark               2            7.522
2                     Iceland               3            7.504
3                 Switzerland               4            7.494
4                     Finland               5            7.469
5                 Netherlands               6            7.377
6                      Canada               7            7.316
7                 New Zealand               8            7.314
8                      Sweden               9            7.284
9                   Australia              10            7.284
10                     Israel              11            7.213
11                 Costa Rica              12            7.079
12                    Austria              13            7.006
13              United States              14            6.993
14                    Ireland              15            6.977
15                    Germany              16            6.951
16                    Belgium              17            6.891
17                 Luxembourg              18            6.863
18             United Kingdom              19            6.714
19                      Chile              20            6.652
20       United Arab Emirates              21            6.648
21                     Brazil              22            6.635
22             Czech Republic              23            6.609
23                  Argentina              24            6.599
24                     Mexico              25            6.578
25                  Singapore              26            6.572
26                      Malta              27            6.527
27                    Uruguay              28            6.454
28                  Guatemala              29            6.454
29                     Panama              30            6.452
..                        ...             ...              ...
125          Congo (Kinshasa)             126            4.280
126                      Mali             127            4.190
127               Ivory Coast             128            4.180
128                  Cambodia             129            4.168
129                     Sudan             130            4.139
130                     Ghana             131            4.120
131                   Ukraine             132            4.096
132                    Uganda             133            4.081
133              Burkina Faso             134            4.032
134                     Niger             135            4.028
135                    Malawi             136            3.970
136                      Chad             137            3.936
137                  Zimbabwe             138            3.875
138                   Lesotho             139            3.808
139                    Angola             140            3.795
140               Afghanistan             141            3.794
141                  Botswana             142            3.766
142                     Benin             143            3.657
143                Madagascar             144            3.644
144                     Haiti             145            3.603
145                     Yemen             146            3.593
146               South Sudan             147            3.591
147                   Liberia             148            3.533
148                    Guinea             149            3.507
149                      Togo             150            3.495
150                    Rwanda             151            3.471
151                     Syria             152            3.462
152                  Tanzania             153            3.349
153                   Burundi             154            2.905
154  Central African Republic             155            2.693

[155 rows x 3 columns]

In [0]:
# print(happy_df.columns.values)
# print(happy_df['Country'])
# print(gtd_df.shape)