<a href="https://colab.research.google.com/github/FNSY96/TerrorismEventsPrediction/blob/master/Graduation.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **Python Imports**
PLEASE PUT ALL LIBRARY IMPORTS IN THIS CELL **ONLY**

In [5]:
import pandas as pd
import csv
import glob
import os
from pandas import ExcelWriter
from pandas import ExcelFile
import io
print("imports run")

imports run

In [0]:
# !pip3 install pandas

# Data Set Imports

In [0]:
from google.colab import drive
from pydrive.auth import GoogleAuth
from pydrive.drive import GoogleDrive
from google.colab import auth
from oauth2client.client import GoogleCredentials
!pip install -U -q PyDrive
auth.authenticate_user()
gauth = GoogleAuth()
gauth.credentials = GoogleCredentials.get_application_default()

In [10]:
# drive = GoogleDrive(gauth)
drive.mount("/content/drive", force_remount=True)
datadir  = 'drive/My Drive/GraduationProject/Data'

Go to this URL in a browser: https://accounts.google.com/o/oauth2/auth?client_id=947318989803-6bn6qk8qdgf4n4g3pfee6491hc0brc4i.apps.googleusercontent.com&redirect_uri=urn%3Aietf%3Awg%3Aoauth%3A2.0%3Aoob&scope=email%20https%3A%2F%2Fwww.googleapis.com%2Fauth%2Fdocs.test%20https%3A%2F%2Fwww.googleapis.com%2Fauth%2Fdrive%20https%3A%2F%2Fwww.googleapis.com%2Fauth%2Fdrive.photos.readonly%20https%3A%2F%2Fwww.googleapis.com%2Fauth%2Fpeopleapi.readonly&response_type=code

Enter your authorization code:
··········
Mounted at /content/drive

### **GeoEPR**

In [0]:
# fid = drive.ListFile({'q':"title='GeoEPR-2018.1.csv'"}).GetList()[0]['id']
# f = drive.CreateFile({'id': fid})
# f.GetContentFile('GeoEPR-2018.1.csv')
# f.Upload()

### **Gecon40_post_final**

In [16]:
# fid = drive.ListFile({'q':"title='Gecon40_post_final_kh.csv'"}).GetList()[0]['id']
# f = drive.CreateFile({'id': fid})
# f.GetContentFile('Gecon40_post_final.csv')
# f.Upload()

AttributeError: ignored

###**GTD**

In [0]:
# !ls drive/'My Drive'/GraduationProject/Data/gtd.csv

# Pandas Data Frames
Useful link : https://youtu.be/2AFGPdNn4FM

## **GTD Data Frame**

In [22]:
gtd_df = pd.read_csv(os.path.join(datadir, 'gtd.csv'),encoding='latin-1')

/usr/local/lib/python3.6/dist-packages/IPython/core/interactiveshell.py:2718: DtypeWarning: Columns (4,6,31,33,61,62,63,76,79,90,92,94,96,114,115,121) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

## **GECON Data Frame**

In [23]:
gecon_df = pd.read_csv(os.path.join(datadir, 'Gecon40_post_final_kh.csv'),encoding='latin-1')

/usr/local/lib/python3.6/dist-packages/IPython/core/interactiveshell.py:2718: DtypeWarning: Columns (16,19,25,28) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

## **GeoEPR Data Frame**

In [0]:
geo_df = pd.read_csv(os.path.join(datadir, 'GeoEPR-2018.1.csv'),encoding='latin-1')

In [34]:
print(geo_df.columns.values)
# statename, group
print(geo_df)

['gwid' 'statename' 'from' 'to' 'group' 'groupid' 'gwgroupid' 'umbrella'
 'sqkm' 'type' 'the_geom']
      gwid            statename  from    to                    group  groupid  \
0        2        United States  1946  1958                   Whites     1000
1        2        United States  1946  1958        African Americans     3000
2        2        United States  1946  1958         American Indians     5000
3        2        United States  1959  1959                   Whites     1000
4        2        United States  1959  1959         American Indians     5000
5        2        United States  1959  1959        African Americans     3000
6        2        United States  1960  2017                   Whites     1000
7        2        United States  1960  2017         American Indians     5000
8        2        United States  1960  2017        African Americans     3000
9        2        United States  1966  2017          Asian Americans     4000
10       2        United States  1966  2017           Arab Americans     6000
11       2        United States  1966  2017                  Latinos     2000
12      20               Canada  1946  1947       Aboriginal peoples     4000
13      20               Canada  1946  1947         English speakers     1000
14      20               Canada  1946  1947          French speakers     2000
15      20               Canada  1948  1948       Aboriginal peoples     4000
16      20               Canada  1948  1948         English speakers     1000
17      20               Canada  1948  1948          French speakers     2000
18      20               Canada  1949  2017       Aboriginal peoples     4000
19      20               Canada  1949  2017         English speakers     1000
20      20               Canada  1949  2017          French speakers     2000
21      31              Bahamas  1973  2017   Afro-Bahamians (Black)     1000
22      31              Bahamas  1973  2017                   Whites     2000
23      40                 Cuba  1946  1959                   Whites     1000
24      40                 Cuba  1946  1959                   Blacks     2000
25      52  Trinidad and Tobago  1962  2017                   Blacks     2000
26      52  Trinidad and Tobago  1962  2017             East Indians     1000
27      70               Mexico  1946  2017                 Mestizos     1000
28      70               Mexico  1946  2017  Other indigenous groups     3000
29      70               Mexico  1946  2017                     Maya     2000
...    ...                  ...   ...   ...                      ...      ...
1440   850            Indonesia  2002  2002                Sundanese    14000
1441   850            Indonesia  2002  2002                   Bataks     4000
1442   850            Indonesia  2002  2002                 Acehnese     1000
1443   850            Indonesia  2002  2002                   Madura     9000
1444   850            Indonesia  2002  2002            Chinese (Han)     5000
1445   850            Indonesia  2002  2002                Amboinese     2000
1446   850            Indonesia  2003  2017                  Papuans    13000
1447   850            Indonesia  2003  2017                    Malay    17000
1448   850            Indonesia  2003  2017                    Dayak    16000
1449   850            Indonesia  2003  2017                 Javanese     8000
1450   850            Indonesia  2003  2017             Minangkabaus    12000
1451   850            Indonesia  2003  2017                Sundanese    14000
1452   850            Indonesia  2003  2017                   Bataks     4000
1453   850            Indonesia  2003  2017                 Acehnese     1000
1454   850            Indonesia  2003  2017                   Madura     9000
1455   850            Indonesia  2003  2017            Chinese (Han)     5000
1456   850            Indonesia  2003  2017                Amboinese     2000
1457   850            Indonesia  2015  2017    Makassarese and Bugis    10000
1458   850            Indonesia  2015  2017                 Balinese     3000
1459   900            Australia  1946  2017               Aborigines     1000
1460   900            Australia  1946  1962                   Asians     2000
1461   900            Australia  1946  2017                   Whites     3000
1462   910     Papua New Guinea  1975  2017       Papua New Guineans     1000
1463   910     Papua New Guinea  1975  2017          Bougainvilleans     2000
1464   920          New Zealand  1946  2017                    Maori     1000
1465   920          New Zealand  1946  2017           New Zealanders     2000
1466   920          New Zealand  1990  2017        Pacific Islanders     3000
1467   920          New Zealand  1996  2017                   Asians     4000
1468   950                 Fiji  1970  2017                  Fijians     1000
1469   950                 Fiji  1970  2017                  Indians     2000

      gwgroupid  umbrella       sqkm              type  \
0        201000       NaN  7933027.0         Statewide
1        203000       NaN  1037432.0         Statewide
2        205000       NaN   938702.0  Regionally based
3        201000       NaN  9446578.0         Statewide
4        205000       NaN  2434343.0  Regionally based
5        203000       NaN  1037432.0         Statewide
6        201000       NaN  9446578.0         Statewide
7        205000       NaN  2434343.0  Regionally based
8        203000       NaN  1037432.0         Statewide
9        204000       NaN        NaN             Urban
10       206000       NaN        NaN             Urban
11       202000       NaN  1882816.0  Regional & urban
12      2004000       NaN  3391384.0  Regionally based
13      2001000       NaN  2231482.0  Regional & urban
14      2002000       NaN   452227.0  Regional & urban
15      2004000       NaN  3391384.0  Regionally based
16      2001000       NaN  2231482.0  Regional & urban
17      2002000       NaN   452228.0  Regional & urban
18      2004000       NaN  3410021.0  Regionally based
19      2001000       NaN  2342635.0  Regional & urban
20      2002000       NaN   541197.0  Regional & urban
21      3101000       NaN    10588.0         Aggregate
22      3102000       NaN    10588.0         Aggregate
23      4001000       NaN   109388.0         Statewide
24      4002000       NaN   109388.0         Statewide
25      5202000       NaN     5017.0         Statewide
26      5201000       NaN     4718.0  Regional & urban
27      7001000       NaN  1961153.0         Statewide
28      7003000       NaN   307655.0  Regionally based
29      7002000       NaN   136065.0  Regionally based
...         ...       ...        ...               ...
1440   85014000       NaN    41249.0  Regionally based
1441   85004000       NaN    39414.0  Regionally based
1442   85001000       NaN    31306.0  Regionally based
1443   85009000       NaN    20162.0  Regionally based
1444   85005000       NaN     5266.0  Regionally based
1445   85002000       NaN     3407.0  Regionally based
1446   85013000       NaN  1885553.0         Aggregate
1447   85017000       NaN   336604.0  Regionally based
1448   85016000       NaN   202450.0  Regionally based
1449   85008000       NaN   105902.0  Regionally based
1450   85012000       NaN    72938.0  Regional & urban
1451   85014000       NaN    41249.0  Regionally based
1452   85004000       NaN    39414.0  Regionally based
1453   85001000       NaN    31306.0  Regionally based
1454   85009000       NaN    20162.0  Regionally based
1455   85005000       NaN     5266.0  Regionally based
1456   85002000       NaN     3407.0  Regionally based
1457   85010000       NaN    56565.0  Regionally based
1458   85003000       NaN     6050.0  Regionally based
1459   90001000       NaN        NaN         Dispersed
1460   90002000       NaN        NaN             Urban
1461   90003000       NaN  7701439.0  Regional & urban
1462   91001000       NaN   454180.0  Regionally based
1463   91002000       NaN     9497.0  Regionally based
1464   92001000       NaN        NaN         Dispersed
1465   92002000       NaN   264057.0         Statewide
1466   92003000       NaN        NaN             Urban
1467   92004000       NaN        NaN             Urban
1468   95001000       NaN    18090.0         Statewide
1469   95002000       NaN    18090.0         Statewide

                                               the_geom
0     SRID=4326;MULTIPOLYGON (((-80.57535491 24.9472...
1     SRID=4326;MULTIPOLYGON (((-80.82779091 25.1622...
2     SRID=4326;MULTIPOLYGON (((-80.90276348 27.1025...
3     SRID=4326;MULTIPOLYGON (((-155.00558198 19.328...
4     SRID=4326;MULTIPOLYGON (((-80.90276348 27.1025...
5     SRID=4326;MULTIPOLYGON (((-80.82779091 25.1622...
6     SRID=4326;MULTIPOLYGON (((-155.00558198 19.328...
7     SRID=4326;MULTIPOLYGON (((-80.90276348 27.1025...
8     SRID=4326;MULTIPOLYGON (((-80.82779091 25.1622...
9                                                   NaN
10                                                  NaN
11    SRID=4326;MULTIPOLYGON (((-82.69124591 28.0298...
12    SRID=4326;MULTIPOLYGON (((-80.50221321 42.8491...
13    SRID=4326;MULTIPOLYGON (((-66.88056161 44.6170...
14    SRID=4326;MULTIPOLYGON (((-78.96703826 45.1856...
15    SRID=4326;MULTIPOLYGON (((-80.50221321 42.8491...
16    SRID=4326;MULTIPOLYGON (((-66.88056161 44.6170...
17    SRID=4326;MULTIPOLYGON (((-78.96703826 45.1856...
18    SRID=4326;MULTIPOLYGON (((-80.50221321 42.8491...
19    SRID=4326;MULTIPOLYGON (((-66.88056161 44.6170...
20    SRID=4326;MULTIPOLYGON (((-78.96703826 45.1856...
21    SRID=4326;MULTIPOLYGON (((-78.19831 25.200357,...
22    SRID=4326;MULTIPOLYGON (((-78.19831 25.200357,...
23    SRID=4326;MULTIPOLYGON (((-78.64724591 21.5344...
24    SRID=4326;MULTIPOLYGON (((-78.64724591 21.5344...
25    SRID=4326;MULTIPOLYGON (((-61.07944589 10.8241...
26    SRID=4326;MULTIPOLYGON (((-61.07944589 10.8241...
27    SRID=4326;MULTIPOLYGON (((-111.56806344 24.432...
28    SRID=4326;MULTIPOLYGON (((-91.39483015 17.4858...
29    SRID=4326;MULTIPOLYGON (((-93.14384872 18.2716...
...                                                 ...
1440  SRID=4326;MULTIPOLYGON (((105.1903918 -6.68347...
1441  SRID=4326;MULTIPOLYGON (((97.77072254 2.774332...
1442  SRID=4326;MULTIPOLYGON (((95.84872421 5.526724...
1443  SRID=4326;MULTIPOLYGON (((112.63458566 -8.2875...
1444  SRID=4326;MULTIPOLYGON (((107.62532284 -3.0277...
1445  SRID=4326;MULTIPOLYGON (((127.1676651 -3.65877...
1446  SRID=4326;MULTIPOLYGON (((121.86554128 -10.608...
1447  SRID=4326;MULTIPOLYGON (((106.74945354 -6.0964...
1448  SRID=4326;MULTIPOLYGON (((111.45469955 1.00617...
1449  SRID=4326;MULTIPOLYGON (((107.96138354 -6.2754...
1450  SRID=4326;MULTIPOLYGON (((102.51819199 -0.3114...
1451  SRID=4326;MULTIPOLYGON (((105.1903918 -6.68347...
1452  SRID=4326;MULTIPOLYGON (((97.77072254 2.774332...
1453  SRID=4326;MULTIPOLYGON (((95.84872421 5.526724...
1454  SRID=4326;MULTIPOLYGON (((112.63458566 -8.2875...
1455  SRID=4326;MULTIPOLYGON (((107.62532284 -3.0277...
1456  SRID=4326;MULTIPOLYGON (((127.1676651 -3.65877...
1457  SRID=4326;MULTIPOLYGON (((120.9313736 -7.28361...
1458  SRID=4326;MULTIPOLYGON (((115.56485475 -8.8038...
1459                                                NaN
1460                                                NaN
1461  SRID=4326;MULTIPOLYGON (((142.1894183 -10.2041...
1462  SRID=4326;MULTIPOLYGON (((154.29776312 -11.391...
1463  SRID=4326;MULTIPOLYGON (((154.74277703 -5.5646...
1464                                                NaN
1465  SRID=4326;MULTIPOLYGON (((168.16609532 -46.909...
1466                                                NaN
1467                                                NaN
1468  SRID=4326;MULTIPOLYGON (((177.47301833 -18.162...
1469  SRID=4326;MULTIPOLYGON (((177.47301833 -18.162...

[1470 rows x 11 columns]

## **Happiness World Report Data Frame**

In [27]:
happy_df = pd.read_csv(os.path.join(datadir, 'Happiness2017.csv'),encoding='latin-1')

['Country' 'Happiness.Rank' 'Happiness.Score' 'Whisker.high' 'Whisker.low'
 'Economy..GDP.per.Capita.' 'Family' 'Health..Life.Expectancy.' 'Freedom'
 'Generosity' 'Trust..Government.Corruption.' 'Dystopia.Residual']

In [31]:
happy_filtered_df = happy_df[['Country','Happiness.Rank','Happiness.Score']]
print(happy_filtered_df)

                      Country  Happiness.Rank  Happiness.Score
0                      Norway               1            7.537
1                     Denmark               2            7.522
2                     Iceland               3            7.504
3                 Switzerland               4            7.494
4                     Finland               5            7.469
5                 Netherlands               6            7.377
6                      Canada               7            7.316
7                 New Zealand               8            7.314
8                      Sweden               9            7.284
9                   Australia              10            7.284
10                     Israel              11            7.213
11                 Costa Rica              12            7.079
12                    Austria              13            7.006
13              United States              14            6.993
14                    Ireland              15            6.977
15                    Germany              16            6.951
16                    Belgium              17            6.891
17                 Luxembourg              18            6.863
18             United Kingdom              19            6.714
19                      Chile              20            6.652
20       United Arab Emirates              21            6.648
21                     Brazil              22            6.635
22             Czech Republic              23            6.609
23                  Argentina              24            6.599
24                     Mexico              25            6.578
25                  Singapore              26            6.572
26                      Malta              27            6.527
27                    Uruguay              28            6.454
28                  Guatemala              29            6.454
29                     Panama              30            6.452
..                        ...             ...              ...
125          Congo (Kinshasa)             126            4.280
126                      Mali             127            4.190
127               Ivory Coast             128            4.180
128                  Cambodia             129            4.168
129                     Sudan             130            4.139
130                     Ghana             131            4.120
131                   Ukraine             132            4.096
132                    Uganda             133            4.081
133              Burkina Faso             134            4.032
134                     Niger             135            4.028
135                    Malawi             136            3.970
136                      Chad             137            3.936
137                  Zimbabwe             138            3.875
138                   Lesotho             139            3.808
139                    Angola             140            3.795
140               Afghanistan             141            3.794
141                  Botswana             142            3.766
142                     Benin             143            3.657
143                Madagascar             144            3.644
144                     Haiti             145            3.603
145                     Yemen             146            3.593
146               South Sudan             147            3.591
147                   Liberia             148            3.533
148                    Guinea             149            3.507
149                      Togo             150            3.495
150                    Rwanda             151            3.471
151                     Syria             152            3.462
152                  Tanzania             153            3.349
153                   Burundi             154            2.905
154  Central African Republic             155            2.693

[155 rows x 3 columns]

In [29]:
# print(happy_df.columns.values)
# print(happy_df['Country'])
# print(gtd_df.shape)

(181691, 135)